8R3xHJ5ZyUjPwnPR.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "BOE España": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calcular Rango Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BORM Murcia": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcular Rango Fechas": {
      "main": [
        [
          {
            "node": "BORM Murcia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOE España",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCM Madrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "DOG Galicia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCYL CastillaLeon",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOPV Pais Vasco",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOIB Islas Baleares",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOJA Andalucia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Sectores Grupo Azarbe": {
      "main": [
        [
          {
            "node": "Prompt Para Email AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference": {
      "main": [
        [
          {
            "node": "Extract Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Final Text": {
      "main": [
        [
          {
            "node": "Métricas Agregadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOCM Madrid": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOG Galicia": {
      "main": [
        [
          {
            "node": "XML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML3": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prompt Para Email AI": {
      "main": [
        [
          {
            "node": "LLM Inference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Para Clasificación AI": {
      "main": [
        [
          {
            "node": "LLM Inference1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference1": {
      "main": [
        [
          {
            "node": "Tratamiento respesta LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Normas": {
      "main": [
        [
          {
            "node": "Prompt Para Clasificación AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamiento respesta LLM": {
      "main": [
        [
          {
            "node": "Filtrar Sectores Grupo Azarbe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Informe": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas Agregadas": {
      "main": [
        [
          {
            "node": "Generar HTML Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOCYL CastillaLeon": {
      "main": [
        [
          {
            "node": "XML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML4": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "BOPV Pais Vasco": {
      "main": [
        [
          {
            "node": "XML5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML5": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "BOIB Islas Baleares": {
      "main": [
        [
          {
            "node": "XML6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML6": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "BOJA Andalucia": {
      "main": [
        [
          {
            "node": "XML7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML7": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-13T12:12:17.305Z",
  "id": "8R3xHJ5ZyUjPwnPR",
  "isArchived": false,
  "meta": null,
  "name": "Miriam BOE - Alerta Boletines_v3",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.boe.es/rss/boe.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "b85c7ec3-70ac-4f09-b128-537de9fedabd",
      "name": "BOE España"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        48
      ],
      "id": "61628409-744e-42a0-9c68-b68b207fbdfc",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "cedd8418-638b-4088-b412-e19cd1651fc1",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOE',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'ESTADO',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "c9e9ab7a-f009-4b7a-a8ed-193bfea8ba32",
      "name": "BOE Normalizar normas"
    },
    {
      "parameters": {
        "url": "https://www.borm.es/rss/boletin.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        144
      ],
      "id": "bedb6ce4-8f89-49d6-9828-75440a9cb46d",
      "name": "BORM Murcia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        144
      ],
      "id": "b78d65a4-2e74-4a34-a253-e92b4e7ec64c",
      "name": "XML1"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Murcia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        144
      ],
      "id": "1c83dcd9-a745-431d-9dd3-219c3b3ad42e",
      "name": "BOE Normalizar normas1"
    },
    {
      "parameters": {
        "jsCode": "function formatDate(d) {\nconst y = d.getFullYear();\nconst m = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\nreturn `${y}-${m}-${day}`;\n}\n\nconst now = new Date();\nconst hoy = new Date(now);\nconst hace7dias = new Date(now);\nhace7dias.setDate(hoy.getDate() - 15);\n\nreturn [\n{\njson: {\nhoy_iso: hoy.toISOString(),\nhace7dias_iso: hace7dias.toISOString(),\nhoy_str: formatDate(hoy),\nhace7dias_str: formatDate(hace7dias),\n},\n},\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        48
      ],
      "id": "6bbbd7ba-54a7-46cc-9509-4d454b6ec866",
      "name": "Calcular Rango Fechas"
    },
    {
      "parameters": {
        "url": "https://www.juntadeandalucia.es/servicios/normativas.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        1232
      ],
      "id": "02254107-51c7-4ac3-807e-def66174af0d",
      "name": "BOJA Andalucia"
    },
    {
      "parameters": {
        "jsCode": "\n// Entrada desde Tratamiento LLM\nconst entrada = ($json.normas_procesadas || []).flat();\nconst normasTodas = $json.normas_todas || entrada;\n\n// FILTRADO FINAL\n// El trabajo duro de clasificación ya lo hizo el LLM en el paso anterior.\n// Aquí solo filtramos las que marcó como 'es_relevante: true'.\n\nconst relevantes = entrada.filter(n => n.es_relevante === true);\n\nreturn [{\n  json: {\n    normas_todas: normasTodas,\n    normas_relevantes: relevantes,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        32
      ],
      "id": "b2158e0c-e6c9-4ad8-acc3-ef8f5bab626e",
      "name": "Filtrar Sectores Grupo Azarbe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"llama3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt\n      }\n    ],\n    \"stream\": false,\n    \"options\": {\n      \"temperature\": 0.4,\n      \"num_predict\": 2048\n    }\n  }\n}}",
        "options": {
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        192
      ],
      "id": "7d230b70-a1d2-46e3-bae8-59e318f2e396",
      "name": "LLM Inference"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\n\n// Texto bruto del LLM\nconst raw = res.message?.content || '';\n\nlet jsonText = raw.trim();\n\n// Intentar extraer bloque ``` ```\nconst start = jsonText.indexOf('```');\nconst end = jsonText.lastIndexOf('```');\n\nif (start !== -1 && end !== -1 && end > start) {\n  jsonText = jsonText.slice(start + 3, end).trim();\n  // Remover posible \"json\" al inicio\n  if (jsonText.startsWith('json')) {\n    jsonText = jsonText.slice(4).trim();\n  }\n}\n\n// Si aún no empieza por \"{\", intenta sacar el primer objeto {...}\nif (!jsonText.startsWith('{')) {\n  const match = jsonText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    jsonText = match[0];\n  }\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  // Fallback: estructura mínima para no romper el flujo\n  parsed = {\n    asunto: 'Informe Semanal de Alertas Normativas',\n    cuerpo: {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar el informe',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    },\n    resumen: `Error al parsear JSON del modelo: ${e.message}`,\n    areas_afectadas: $json.areas_afectadas || [],\n  };\n}\n\nreturn [{\n  json: {\n    asunto: parsed.asunto || 'Informe Semanal de Alertas Normativas',\n    cuerpo: parsed.cuerpo || parsed,\n    resumen: parsed.resumen || '',\n    areas_afectadas: parsed.areas_afectadas || $json.areas_afectadas || [],\n    rango_fechas: $('Prompt Para Email AI').first().json.rango_fechas,\n    total_normas: $('Prompt Para Email AI').first().json.total_normas,\n    normas_relevantes: $('Prompt Para Email AI').first().json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        192
      ],
      "id": "d184ecbb-ec72-4755-a152-02f27c4f984e",
      "name": "Extract Final Text"
    },
    {
      "parameters": {
        "fromEmail": "comedido@gmail.com",
        "toEmail": "aarondominguezsanchez@gmail.com",
        "subject": "={{ $json.asunto }} – {{$json.rango_fechas}}",
        "html": "=<h2 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 4px;\">\n  Informe Jurídico Semanal\n</h2>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Estimados/as,<br><br>\n  Adjuntamos el informe semanal con un análisis detallado de las principales novedades legislativas publicadas en los boletines oficiales.\n  El informe cubre el período\n  <strong>{{$json.rango_fechas}}</strong>\n  y se ha elaborado a partir de los siguientes diarios oficiales:\n</p>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333; margin-left: 20px;\">\n  <li>✅ BOE</li>\n  <li>✅ BOJA (Andalucía)</li>\n  <li>✅ BORM (Murcia)</li>\n  <li>✅ BOCM (Madrid)</li>\n  <li>✅ DOG (Galicia)</li>\n  <li>⚠️ DOGV (Comunidad Valenciana)</li>\n  <li>⚠️ DOGC (Cataluña)</li>\n  <li>⚠️ DOCM (Castilla-La Mancha)</li>\n  <li>✅ BOCYL (Castilla y León)</li>\n  <li>✅ BOPV (País Vasco)</li>\n  <li>✅ BOIB (Islas Baleares)</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  A continuación se detallan las normas consideradas más relevantes para la actividad del Grupo, con una explicación ampliada de su contenido,\n  del impacto jurídico potencial y de las obligaciones prácticas que pueden derivarse para las distintas áreas implicadas.\n</p>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<!-- Aquí inyectamos el HTML generado -->\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6;\">\n  {{$json.cuerpo_html}}\n</div>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">\n  Resumen Ejecutivo (global)\n</h3>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">\n  <li><strong>Normas analizadas:</strong> {{$json.total_normas}}</li>\n  <li><strong>Normas relevantes para la actividad:</strong> {{$json.normas_relevantes}}</li>\n  <li><strong>Áreas afectadas:</strong> {{ ($json.areas_afectadas || []).join(', ') }}</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 12px;\">\n  El resumen ejecutivo incorpora una valoración jurídica extensiva y priorizada de los riesgos y oportunidades detectados,\n  con especial atención a las materias de cumplimiento normativo, contratación, protección de datos y regulación sectorial.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 20px;\">\n  Si necesita ampliar información sobre alguna de las normas o requiere un análisis específico para un proyecto o sociedad concreta,\n  quedamos a su disposición para profundizar en los aspectos que resulten de mayor interés.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Atentamente,<br>\n  <strong>Departamento Jurídico</strong><br>\n  Sistema automatizado de alertas normativas\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1056,
        352
      ],
      "id": "3d21c68e-a25a-4ec3-b246-7a932edb5ed7",
      "name": "Send email",
      "webhookId": "365ea2dc-7775-473c-a62c-c2424d821e10",
      "credentials": {
        "smtp": {
          "id": "4kUvfaCBAq90daii",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "26402261",
        "text": "=🔔 *Informe Semanal de Alertas Normativas*\n\n📅 *Período:* {{ $('Generar HTML Informe').item.json.rango_fechas }}\n\n📊 *Resumen:*\n• Normas analizadas: {{ $('Generar HTML Informe').item.json.total_normas }}\n• Normas relevantes: {{ $('Generar HTML Informe').item.json.normas_relevantes }}\n\n{{ $('Generar HTML Informe').item.json.normas_relevantes > 0\n  ? '✅ Se han identificado normas de interés para el Grupo Azarbe.'\n  : '⚪ No hay normas relevantes esta semana.' }}\n\n📧 Informe completo enviado a: mberna@grupoazarbe.com\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        352
      ],
      "id": "f07c02e9-832b-4027-9d75-b5a336e6bf88",
      "name": "Send a text message",
      "webhookId": "852675cc-0311-408c-948c-ddc675df3c22",
      "credentials": {
        "telegramApi": {
          "id": "zgQWZHZ2nMs05qtB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.bocm.es/boletines.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        320
      ],
      "id": "fdccce65-637c-46c7-8ae5-03d97db3e81d",
      "name": "BOCM Madrid"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        320
      ],
      "id": "e64e78bf-0932-46af-807c-840db2401275",
      "name": "XML2"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Madrid',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        320
      ],
      "id": "57609399-77aa-4f84-8254-0a89ca000bee",
      "name": "BOE Normalizar normas2"
    },
    {
      "parameters": {
        "url": "https://www.xunta.gal/diario-oficial-galicia/rss/Sumario_es.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        496
      ],
      "id": "605b0cd8-6d80-41af-a712-91c34bb7ba32",
      "name": "DOG Galicia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        496
      ],
      "id": "2bd3dd6a-a64d-4151-97e1-6767c808b71e",
      "name": "XML3"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'DOG',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Galicia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        496
      ],
      "id": "daeb3416-b253-4894-9ac9-c173548ba0f5",
      "name": "BOE Normalizar normas3"
    },
    {
      "parameters": {
        "jsCode": "const normas = $json.normas_relevantes || [];\nconst normasTodas = $json.normas_todas || [];\n\n// Recuperar el rango de fechas\nconst rango = $('Calcular Rango Fechas').first().json;\nconst rangoFechas = `${rango.hace7dias_str} – ${rango.hoy_str}`;\n\nlet listado = '';\n\nfor (const n of normas) {\n  const texto = n.texto_limpio || n.texto || '';\n\n  listado += `- Título: ${n.titulo || ''}\\n`;\n  listado += `  Fecha: ${n.fecha_publicacion || ''}\\n`;\n  listado += `  Fuente: ${n.fuente || ''} (${n.comunidad || ''})\\n`;\n  listado += `  Enlace: ${n.url || ''}\\n`;\n  listado += `  Texto: ${texto}\\n\\n`;\n}\n\nif (normas.length === 0) {\n  listado = 'No se han identificado normas relevantes para las actividades del Grupo Azarbe en los últimos 7 días.\\n';\n}\n\nconst prompt = `\nActúas como asesor jurídico especializado en normativa española para el Grupo Azarbe.\n\nRango de fechas: ${rangoFechas}\n\nListado de normas relevantes (ya filtradas por sector y comunidad autónoma):\n\n${listado}\n\nTareas:\n\n1) Redacta un apartado \"Normas Relevantes\", con cada norma en formato estructurado, indicando:\n   - Título (con número de identificación si existe, ej: BOE-A-2025-24230)\n   - Boletín y ámbito (ej: \"BOE nº 287 – España\" o \"DOUE(L) nº 2385 – Unión Europea\")\n   - Fecha de publicación\n   - Breve explicación: descripción concisa del contenido normativo (máximo 100 palabras)\n   - Impacto para Grupo Azarbe: evaluación específica de cómo afecta a las actividades del Grupo\n   - Obligaciones prácticas: acciones concretas a realizar, o \"Ninguna\" si no aplica\n\n2) Redacta un apartado \"Conclusiones Generales\" con:\n   - Valoración global del impacto de las normas analizadas\n   - Recomendaciones de seguimiento si aplica\n   - Disponibilidad para ampliación de información\n\nDEVUELVE EXCLUSIVAMENTE UN JSON VÁLIDO con esta estructura, sin texto adicional, sin comentarios y sin marcas de código:\n\n{\n  \"asunto\": \"Informe Semanal de Alertas Normativas\",\n  \"cuerpo\": {\n    \"Normas Relevantes\": [\n      {\n        \"Número\": \"1\",\n        \"Título\": \"...\",\n        \"Boletín y ámbito\": \"...\",\n        \"Fecha de publicación\": \"...\",\n        \"Breve explicación\": \"...\",\n        \"Impacto para Grupo Azarbe\": \"...\",\n        \"Obligaciones prácticas\": \"...\"\n      }\n    ],\n    \"Conclusiones Generales\": {\n      \"Valoración\": \"...\",\n      \"Recomendaciones\": \"...\",\n      \"Cierre\": \"...\"\n    }\n  },\n  \"resumen\": \"Resumen ejecutivo en 3-5 frases\",\n  \"areas_afectadas\": [\"Área 1\", \"Área 2\"]\n}\n`;\n\nreturn [{\n  json: {\n    prompt,\n    rango_fechas: rangoFechas,\n    total_normas: normasTodas.length,\n    normas_relevantes: normas.length,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        32
      ],
      "id": "4076e94a-4aef-438a-a18e-8a82739b97a7",
      "name": "Prompt Para Email AI"
    },
    {
      "parameters": {
        "jsCode": "\nconst normas = ($json.normas_filtradas || []).flat();\n\nif (!normas.length) {\n  return [{ json: { error: 'SIN_NORMAS', debug_json: $json } }];\n}\n\n// --- CONFIGURACIÓN DE PALABRAS CLAVE POR COMUNIDAD ---\n// El LLM usará estas palabras clave para determinar la relevancia.\nconst KEYWORDS_POR_COMUNIDAD = {\n  'Comunidad Valenciana (Alicante)': [\n    'restauración','inmobiliario','varadero','fundación',\n    'alojamiento turístico','cine'\n  ],\n  'Comunidad Valenciana (Castellón)': [\n    'viviendas turísticas','gasolineras','fincas forestales','restauración'\n  ],\n  'Castilla-La Mancha': [\n    'abonos','fertilizantes','agricultura','ganadería','agua','rural','vino',\n    'bodega','caza','cinegético','envase','plástico','esencia','lavanda',\n    'ayudas','coto de caza','animales','aceite','almazara',\n    'organización de eventos','alojamientos turísticos'\n  ],\n  'Islas Baleares': ['restauración'],\n  'Cataluña': ['restauración'],\n  'Madrid': ['restauración'],\n  'Murcia': ['restauración'],\n  'Andalucía': ['restauración'],\n  'País Vasco': ['restauración'],\n  'Galicia': ['restauración'],\n  'Castilla y León': ['restauración', 'agricultura', 'ganadería', 'industria'],\n  'ESTADO': ['restauración', 'inmobiliario', 'turismo', 'subvenciones', 'ayudas empresas'],\n  'OTRA': ['restauración', 'inmobiliario']\n};\n\nconst items = normas.map((norma, index) => {\n  const comunidad = norma.comunidad || 'OTRA';\n  const keywords = KEYWORDS_POR_COMUNIDAD[comunidad] || KEYWORDS_POR_COMUNIDAD['OTRA'];\n\n  // Prompt enriquecido con URL y Texto completo\n  const prompt = `Actúa como un experto analista jurídico para el Grupo Azarbe.\nTu objetivo es filtrar normativa oficial y determinar si es RELEVANTE para el negocio.\n\nDATOS DE CONTEXTO:\n- Región: ${comunidad}\n- Palabras clave/Temas: ${keywords.join(', ')}\n\nNORMA A ANALIZAR:\n- Fuente: ${norma.fuente || 'Desconocida'}\n- Título: ${norma.titulo || 'Sin título'}\n- URL: ${norma.url || 'Sin URL'}\n- Texto Completo:\n${norma.texto || 'Sin texto'}\n\nINSTRUCCIONES:\n1. Lee el título y texto.\n2. Determina si es relevante para los temas indicados.\n3. Responde EXCLUSIVAMENTE con este JSON:\n{\n  \"es_relevante\": true/false,\n  \"sector_detectado\": \"...\",\n  \"justificacion\": \"...\"\n}`;\n\n  return {\n    json: {\n      index,\n      norma_original: norma,\n      prompt_para_ollama: prompt,\n    },\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        32
      ],
      "id": "1699f0e9-c19c-4482-93f3-80f0fcd311c0",
      "name": "Prompt Para Clasificación AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"gemma3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt_para_ollama\n      }\n    ],\n    \"stream\": false,\n     \"options\": {\n  \"num_predict\": 192,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9\n}\n  }\n}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 500
            }
          },
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        32
      ],
      "id": "e64e967c-5a60-4b60-bed3-25d21e83c7ce",
      "name": "LLM Inference1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const all = [];\n\nfor (const item of items) {\n  const normas = item.json.normas || [];\n  all.push(...normas);\n}\n\nreturn [\n  {\n    json: {\n      normas_filtradas: all,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        544
      ],
      "id": "aafce91b-a72a-4160-9a18-ed66d91058d6",
      "name": "Merge Normas"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        480
      ],
      "id": "eb3b4519-d2ff-4395-a7b3-f8140b90531f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst normasProcesadas = [];\n\nitems.forEach(item => {\n  const norma = item.json.norma_original || {};\n\n  // Obtener respuesta raw del LLM\n  const raw = item.json.response || item.json.message?.content || '';\n\n  try {\n    // Extracción robusta de JSON\n    let jsonText = raw;\n    const start = raw.indexOf('```');\n    const end = raw.lastIndexOf('```');\n    if (start !== -1 && end !== -1 && end > start) {\n      jsonText = raw.slice(start + 3, end);\n      if (jsonText.startsWith('json')) jsonText = jsonText.slice(4);\n    }\n    jsonText = jsonText.trim();\n    if (!jsonText.startsWith('{')) {\n       const match = jsonText.match(/\\{[\\s\\S]*\\}/);\n       if (match) jsonText = match[0];\n    }\n\n    const parsed = JSON.parse(jsonText);\n\n    normasProcesadas.push({\n      ...norma, // Preserva URL y todos los campos originales\n      es_relevante: parsed.es_relevante === true,\n      sector: parsed.sector_detectado || parsed.sector || 'NINGUNO',\n      justificacion: parsed.justificacion || parsed.razon || '',\n    });\n\n  } catch (e) {\n    normasProcesadas.push({\n      ...norma,\n      es_relevante: false,\n      sector: 'ERROR_PARSE',\n      justificacion: 'Error al parsear respuesta IA',\n    });\n  }\n});\n\nreturn [{\n  json: {\n    total_procesadas: normasProcesadas.length,\n    relevantes_ia: normasProcesadas.filter(n => n.es_relevante).length,\n    normas_procesadas: normasProcesadas,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        32
      ],
      "id": "2bfd64ff-624b-476a-b807-3ebc030c7529",
      "name": "Tratamiento respesta LLM"
    },
    {
      "parameters": {
        "jsCode": "// 1) HTML generado por el LLM\nlet cuerpo = $json.cuerpo || {};\n\nif (typeof cuerpo === 'string') {\n  try {\n    cuerpo = JSON.parse(cuerpo);\n  } catch (e) {\n    cuerpo = {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    };\n  }\n}\n\n// 2) Recuperamos las normas originales con URL real\nconst normasOriginales =\n  $('Filtrar Sectores Grupo Azarbe').first().json.normas_relevantes || [];\n\n// Funciones auxiliares para buscar mejor por título\nfunction normaliza(str = '') {\n  return String(str)\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction buscarUrl(tituloLLM = '') {\n  const tLLM = normaliza(tituloLLM);\n  if (!tLLM) return '';\n\n  const n = normasOriginales.find(o => {\n    const tOrig = normaliza(o.titulo || '');\n    return tOrig.includes(tLLM) || tLLM.includes(tOrig);\n  });\n\n  return n?.url || '';\n}\n\nlet html = '';\n\n// ============================\n//   NORMAS RELEVANTES\n// ============================\n\nconst normas = cuerpo['Normas Relevantes'];\n\nif (Array.isArray(normas) && normas.length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">Normas Relevantes</h3>';\n\n  normas.forEach((n, index) => {\n    const numero = n['Número'] || (index + 1);\n    const titulo = n['Título'] || '';\n    const enlace = buscarUrl(titulo);\n\n    html += '<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 20px;\">';\n\n    html += `<p style=\"margin-bottom: 8px;\"><strong>${numero}. ${titulo}</strong>`;\n    if (enlace) {\n      html += ` (<a href=\"${enlace}\" target=\"_blank\" style=\"color: #0066cc;\">ver norma</a>)`;\n    }\n    html += '</p>';\n\n    if (n['Boletín y ámbito']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Boletín y ámbito:</strong> ${n['Boletín y ámbito']}</p>`;\n    }\n\n    if (n['Fecha de publicación']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Fecha de publicación:</strong> ${n['Fecha de publicación']}</p>`;\n    }\n\n    if (n['Breve explicación']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Breve explicación:</strong><br>${n['Breve explicación']}</p>`;\n    }\n\n    if (n['Impacto para Grupo Azarbe']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Impacto para Grupo Azarbe:</strong><br>${n['Impacto para Grupo Azarbe']}</p>`;\n    }\n\n    if (n['Obligaciones prácticas']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Obligaciones prácticas:</strong> ${n['Obligaciones prácticas']}</p>`;\n    }\n\n    html += '</div>';\n    html += '<hr style=\"border: 0; border-top: 1px solid #e0e0e0; margin: 16px 0;\">';\n  });\n}\n\n// ============================\n//    CONCLUSIONES GENERALES\n// ============================\n\nconst conclusiones = cuerpo['Conclusiones Generales'] || {};\n\nif (Object.keys(conclusiones).length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Conclusiones Generales</h3>';\n\n  if (conclusiones['Valoración']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Valoración']}</p>`;\n  }\n\n  if (conclusiones['Recomendaciones']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Recomendaciones']}</p>`;\n  }\n\n  if (conclusiones['Cierre']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Cierre']}</p>`;\n  }\n}\n\n// ============================\n//   RESUMEN EJECUTIVO (GLOBAL)\n// ============================\n\nhtml += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Resumen Ejecutivo</h3>';\nhtml += '<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">';\nhtml += `<li><strong>Normas analizadas:</strong> ${$json.total_normas}</li>`;\nhtml += `<li><strong>Normas relevantes para la actividad:</strong> ${$json.normas_relevantes}</li>`;\nhtml += `<li><strong>Áreas afectadas:</strong> ${($json.areas_afectadas || []).join(', ')}</li>`;\nhtml += '</ul>';\n\n// ============================\n//   DEVOLUCIÓN\n// ============================\n\nreturn [{\n  json: {\n    cuerpo_html: html,\n    asunto: $json.asunto || 'Informe Semanal de Alertas Normativas',\n    resumen: $json.resumen || '',\n    areas_afectadas: $json.areas_afectadas || [],\n    rango_fechas: $json.rango_fechas,\n    total_normas: $json.total_normas,\n    normas_relevantes: $json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        192
      ],
      "id": "222dd343-dcf6-4e49-8946-dd90dde80f77",
      "name": "Generar HTML Informe"
    },
    {
      "parameters": {
        "jsCode": "// Base: todo lo que viene de Extract Final Text\nconst base = $json;\n\n// Si ya tienes calculadas normas_procesadas en otro nodo, ajústalo aquí.\n// Como ejemplo, asumimos que base.normas_procesadas existe; si no, usa tus campos reales.\nconst normasProcesadas = base.normas_procesadas || [];\nconst total_normas = normasProcesadas.length || (base.total_normas || 0);\n\n// Normas relevantes: por ejemplo, sector distinto de NINGUNO/ERROR_PARSE\nconst normasRelevantes = normasProcesadas.filter(n =>\n  n.sector && n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE',\n);\nconst normas_relevantes = normasRelevantes.length || (base.normas_relevantes || 0);\n\nreturn [{\n  json: {\n    ...base,                 // mantiene asunto, cuerpo, resumen, rango_fechas, areas_afectadas\n    total_normas,\n    normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        192
      ],
      "id": "7ef10e17-498c-431d-9fc7-695576460049",
      "name": "Métricas Agregadas"
    },
    {
      "parameters": {
        "url": "https://bocyl.jcyl.es/rss.do",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        688
      ],
      "id": "896d7212-9451-4ce3-b014-b847156935f2",
      "name": "BOCYL CastillaLeon"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        688
      ],
      "id": "670476d7-a877-49fb-98aa-00449d14537a",
      "name": "XML4"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCYL',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Castilla y León',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        688
      ],
      "id": "ef1fa237-67da-44c3-bc21-a2957c394b88",
      "name": "BOE Normalizar normas4"
    },
    {
      "parameters": {
        "url": "https://www.euskadi.eus/bopv2/datos/Ultimo.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        880
      ],
      "id": "dbf35175-d233-497d-a891-5ab871f59a09",
      "name": "BOPV Pais Vasco"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        880
      ],
      "id": "a5bc10c3-6459-459a-b9a7-0f4424e6f168",
      "name": "XML5"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOPV',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'País Vasco',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        880
      ],
      "id": "ef90933d-ca9c-4997-a300-1961333565c0",
      "name": "BOE Normalizar normas5"
    },
    {
      "parameters": {
        "url": "https://www.caib.es/eboibfront/indexrss.do?lang=es",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        1072
      ],
      "id": "a6ff481f-eb6f-4c09-b055-011b44ba9655",
      "name": "BOIB Islas Baleares"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        1072
      ],
      "id": "dec57b80-334e-405d-a4b0-aebac68af7de",
      "name": "XML6"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOIB',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Islas Baleares',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1072
      ],
      "id": "e34b6578-894f-4383-bbda-8be436cfedf3",
      "name": "BOE Normalizar normas6"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        1232
      ],
      "id": "0a1bbd55-8bee-4d74-9666-aeaf1497878a",
      "name": "XML7"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOJA',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Andalucía',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1232
      ],
      "id": "35b5c47a-d6d5-465a-9093-b6249d039d87",
      "name": "BOE Normalizar normas7"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "comedido",
    "name": "myn8nflows"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-13T12:12:17.307Z",
      "createdAt": "2025-12-13T12:12:17.307Z",
      "role": "workflow:owner",
      "workflowId": "8R3xHJ5ZyUjPwnPR",
      "projectId": "c1ShJVsgvvl3Rwo1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-13T12:12:17.305Z",
  "versionId": "3f341d28-d3db-45a6-8016-1aee1db8c554"
}