eFTQV2AcoqhiVKIA.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "BOE España": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calcular Rango Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BORM Murcia": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcular Rango Fechas": {
      "main": [
        [
          {
            "node": "BORM Murcia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOE España",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCM Madrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "DOG Galicia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCYL CastillaLeon",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOPV Pais Vasco",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOIB Islas Baleares",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOJA Andalucia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Sectores Grupo Azarbe": {
      "main": [
        [
          {
            "node": "Prompt Para Email AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference": {
      "main": [
        [
          {
            "node": "Extract Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Final Text": {
      "main": [
        [
          {
            "node": "Métricas Agregadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOCM Madrid": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOG Galicia": {
      "main": [
        [
          {
            "node": "XML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML3": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prompt Para Email AI": {
      "main": [
        [
          {
            "node": "LLM Inference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Para Clasificación AI": {
      "main": [
        [
          {
            "node": "LLM Inference1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference1": {
      "main": [
        [
          {
            "node": "Tratamiento respesta LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Normas": {
      "main": [
        [
          {
            "node": "Prompt Para Clasificación AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamiento respesta LLM": {
      "main": [
        [
          {
            "node": "Filtrar Sectores Grupo Azarbe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Informe": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas Agregadas": {
      "main": [
        [
          {
            "node": "Generar HTML Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOCYL CastillaLeon": {
      "main": [
        [
          {
            "node": "XML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML4": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "BOPV Pais Vasco": {
      "main": [
        [
          {
            "node": "XML5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML5": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "BOIB Islas Baleares": {
      "main": [
        [
          {
            "node": "XML6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML6": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "BOJA Andalucia": {
      "main": [
        [
          {
            "node": "XML7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML7": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-13T10:53:05.249Z",
  "id": "eFTQV2AcoqhiVKIA",
  "isArchived": true,
  "meta": null,
  "name": "Miriam BOE - Alerta Boletines_v2",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.boe.es/rss/boe.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        32
      ],
      "id": "f3430671-e314-4c69-8307-881334d6e797",
      "name": "BOE España"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        80
      ],
      "id": "547bacb8-8d43-429c-a3ef-b28b95364145",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        32
      ],
      "id": "9371a17e-8eac-4d1d-8fbd-7a610c824228",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOE',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'ESTADO',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        32
      ],
      "id": "6dcbdb0e-dc5d-4107-9137-00de6f7eedd7",
      "name": "BOE Normalizar normas"
    },
    {
      "parameters": {
        "url": "https://www.borm.es/rss/boletin.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        176
      ],
      "id": "5a4eea22-aae3-4418-aadf-5fd7b144dfed",
      "name": "BORM Murcia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        176
      ],
      "id": "59fae9ad-e446-43f7-ad0d-945ec53e269d",
      "name": "XML1"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Murcia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        176
      ],
      "id": "007904f0-d7ce-499f-bb18-265b8490c6cc",
      "name": "BOE Normalizar normas1"
    },
    {
      "parameters": {
        "jsCode": "function formatDate(d) {\nconst y = d.getFullYear();\nconst m = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\nreturn `${y}-${m}-${day}`;\n}\n\nconst now = new Date();\nconst hoy = new Date(now);\nconst hace7dias = new Date(now);\nhace7dias.setDate(hoy.getDate() - 15);\n\nreturn [\n{\njson: {\nhoy_iso: hoy.toISOString(),\nhace7dias_iso: hace7dias.toISOString(),\nhoy_str: formatDate(hoy),\nhace7dias_str: formatDate(hace7dias),\n},\n},\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        80
      ],
      "id": "8986c384-9bf5-4dd6-9ef0-d4de7c3b24e1",
      "name": "Calcular Rango Fechas"
    },
    {
      "parameters": {
        "url": "https://www.juntadeandalucia.es/servicios/normativas.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        1264
      ],
      "id": "5e0826a9-3adf-4707-ad66-bcd7a6f08361",
      "name": "BOJA Andalucia"
    },
    {
      "parameters": {
        "jsCode": "\n// Entrada desde Tratamiento LLM\nconst entrada = ($json.normas_procesadas || []).flat();\nconst normasTodas = $json.normas_todas || entrada;\n\n// FILTRADO FINAL\n// El trabajo duro de clasificación ya lo hizo el LLM en el paso anterior.\n// Aquí solo filtramos las que marcó como 'es_relevante: true'.\n\nconst relevantes = entrada.filter(n => n.es_relevante === true);\n\nreturn [{\n  json: {\n    normas_todas: normasTodas,\n    normas_relevantes: relevantes,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        64
      ],
      "id": "74c8e502-905d-4ba3-b4e4-04a1a3bf211e",
      "name": "Filtrar Sectores Grupo Azarbe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"llama3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt\n      }\n    ],\n    \"stream\": false,\n    \"options\": {\n      \"temperature\": 0.4,\n      \"num_predict\": 2048\n    }\n  }\n}}",
        "options": {
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1056,
        224
      ],
      "id": "e7f9676b-e0b7-4700-ae64-51b32fc8c343",
      "name": "LLM Inference"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\n\n// Texto bruto del LLM\nconst raw = res.message?.content || '';\n\nlet jsonText = raw.trim();\n\n// Intentar extraer bloque ``` ```\nconst start = jsonText.indexOf('```');\nconst end = jsonText.lastIndexOf('```');\n\nif (start !== -1 && end !== -1 && end > start) {\n  jsonText = jsonText.slice(start + 3, end).trim();\n  // Remover posible \"json\" al inicio\n  if (jsonText.startsWith('json')) {\n    jsonText = jsonText.slice(4).trim();\n  }\n}\n\n// Si aún no empieza por \"{\", intenta sacar el primer objeto {...}\nif (!jsonText.startsWith('{')) {\n  const match = jsonText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    jsonText = match[0];\n  }\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  // Fallback: estructura mínima para no romper el flujo\n  parsed = {\n    asunto: 'Informe Semanal de Alertas Normativas',\n    cuerpo: {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar el informe',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    },\n    resumen: `Error al parsear JSON del modelo: ${e.message}`,\n    areas_afectadas: $json.areas_afectadas || [],\n  };\n}\n\nreturn [{\n  json: {\n    asunto: parsed.asunto || 'Informe Semanal de Alertas Normativas',\n    cuerpo: parsed.cuerpo || parsed,\n    resumen: parsed.resumen || '',\n    areas_afectadas: parsed.areas_afectadas || $json.areas_afectadas || [],\n    rango_fechas: $('Prompt Para Email AI').first().json.rango_fechas,\n    total_normas: $('Prompt Para Email AI').first().json.total_normas,\n    normas_relevantes: $('Prompt Para Email AI').first().json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        224
      ],
      "id": "0fcc77db-d0ef-4b86-9ddc-762b2a7b04f3",
      "name": "Extract Final Text"
    },
    {
      "parameters": {
        "fromEmail": "comedido@gmail.com",
        "toEmail": "aarondominguezsanchez@gmail.com",
        "subject": "={{ $json.asunto }} – {{$json.rango_fechas}}",
        "html": "=<h2 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 4px;\">\n  Informe Jurídico Semanal\n</h2>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Estimados/as,<br><br>\n  Adjuntamos el informe semanal con un análisis detallado de las principales novedades legislativas publicadas en los boletines oficiales.\n  El informe cubre el período\n  <strong>{{$json.rango_fechas}}</strong>\n  y se ha elaborado a partir de los siguientes diarios oficiales:\n</p>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333; margin-left: 20px;\">\n  <li>✅ BOE</li>\n  <li>✅ BOJA (Andalucía)</li>\n  <li>✅ BORM (Murcia)</li>\n  <li>✅ BOCM (Madrid)</li>\n  <li>✅ DOG (Galicia)</li>\n  <li>⚠️ DOGV (Comunidad Valenciana)</li>\n  <li>⚠️ DOGC (Cataluña)</li>\n  <li>⚠️ DOCM (Castilla-La Mancha)</li>\n  <li>✅ BOCYL (Castilla y León)</li>\n  <li>✅ BOPV (País Vasco)</li>\n  <li>✅ BOIB (Islas Baleares)</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  A continuación se detallan las normas consideradas más relevantes para la actividad del Grupo, con una explicación ampliada de su contenido,\n  del impacto jurídico potencial y de las obligaciones prácticas que pueden derivarse para las distintas áreas implicadas.\n</p>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<!-- Aquí inyectamos el HTML generado -->\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6;\">\n  {{$json.cuerpo_html}}\n</div>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">\n  Resumen Ejecutivo (global)\n</h3>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">\n  <li><strong>Normas analizadas:</strong> {{$json.total_normas}}</li>\n  <li><strong>Normas relevantes para la actividad:</strong> {{$json.normas_relevantes}}</li>\n  <li><strong>Áreas afectadas:</strong> {{ ($json.areas_afectadas || []).join(', ') }}</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 12px;\">\n  El resumen ejecutivo incorpora una valoración jurídica extensiva y priorizada de los riesgos y oportunidades detectados,\n  con especial atención a las materias de cumplimiento normativo, contratación, protección de datos y regulación sectorial.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 20px;\">\n  Si necesita ampliar información sobre alguna de las normas o requiere un análisis específico para un proyecto o sociedad concreta,\n  quedamos a su disposición para profundizar en los aspectos que resulten de mayor interés.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Atentamente,<br>\n  <strong>Departamento Jurídico</strong><br>\n  Sistema automatizado de alertas normativas\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1056,
        384
      ],
      "id": "63bac7a5-d8d6-415a-83f6-0f6dabe379de",
      "name": "Send email",
      "webhookId": "365ea2dc-7775-473c-a62c-c2424d821e10",
      "credentials": {
        "smtp": {
          "id": "4kUvfaCBAq90daii",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "26402261",
        "text": "=🔔 *Informe Semanal de Alertas Normativas*\n\n📅 *Período:* {{ $('Generar HTML Informe').item.json.rango_fechas }}\n\n📊 *Resumen:*\n• Normas analizadas: {{ $('Generar HTML Informe').item.json.total_normas }}\n• Normas relevantes: {{ $('Generar HTML Informe').item.json.normas_relevantes }}\n\n{{ $('Generar HTML Informe').item.json.normas_relevantes > 0\n  ? '✅ Se han identificado normas de interés para el Grupo Azarbe.'\n  : '⚪ No hay normas relevantes esta semana.' }}\n\n📧 Informe completo enviado a: mberna@grupoazarbe.com\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        384
      ],
      "id": "6c1649a8-3c86-4d77-a18a-db68bda4d550",
      "name": "Send a text message",
      "webhookId": "852675cc-0311-408c-948c-ddc675df3c22",
      "credentials": {
        "telegramApi": {
          "id": "zgQWZHZ2nMs05qtB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.bocm.es/boletines.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        352
      ],
      "id": "017a86b7-b8bb-48da-8f6a-64151a6c9808",
      "name": "BOCM Madrid"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        352
      ],
      "id": "b07d153a-652e-4e2f-932e-21c5f333bfb4",
      "name": "XML2"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Madrid',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        352
      ],
      "id": "203a2307-0199-4107-8a1d-844429089c40",
      "name": "BOE Normalizar normas2"
    },
    {
      "parameters": {
        "url": "https://www.xunta.gal/diario-oficial-galicia/rss/Sumario_es.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        528
      ],
      "id": "dd8ed902-e1f1-4b78-9175-0fcca23f0e21",
      "name": "DOG Galicia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        528
      ],
      "id": "01f09aff-1f5f-4b51-b49c-7e7a84cd145e",
      "name": "XML3"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'DOG',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Galicia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        528
      ],
      "id": "f2a9ec14-dd34-4cbd-a1a5-5fede770b9fd",
      "name": "BOE Normalizar normas3"
    },
    {
      "parameters": {
        "jsCode": "const normas = $json.normas_relevantes || [];\nconst normasTodas = $json.normas_todas || [];\n\n// Recuperar el rango de fechas\nconst rango = $('Calcular Rango Fechas').first().json;\nconst rangoFechas = `${rango.hace7dias_str} – ${rango.hoy_str}`;\n\nlet listado = '';\n\nfor (const n of normas) {\n  const texto = n.texto_limpio || n.texto || '';\n\n  listado += `- Título: ${n.titulo || ''}\\n`;\n  listado += `  Fecha: ${n.fecha_publicacion || ''}\\n`;\n  listado += `  Fuente: ${n.fuente || ''} (${n.comunidad || ''})\\n`;\n  listado += `  Enlace: ${n.url || ''}\\n`;\n  listado += `  Texto: ${texto}\\n\\n`;\n}\n\nif (normas.length === 0) {\n  listado = 'No se han identificado normas relevantes para las actividades del Grupo Azarbe en los últimos 7 días.\\n';\n}\n\nconst prompt = `\nActúas como asesor jurídico especializado en normativa española para el Grupo Azarbe.\n\nRango de fechas: ${rangoFechas}\n\nListado de normas relevantes (ya filtradas por sector y comunidad autónoma):\n\n${listado}\n\nTareas:\n\n1) Redacta un apartado \"Normas Relevantes\", con cada norma en formato estructurado, indicando:\n   - Título (con número de identificación si existe, ej: BOE-A-2025-24230)\n   - Boletín y ámbito (ej: \"BOE nº 287 – España\" o \"DOUE(L) nº 2385 – Unión Europea\")\n   - Fecha de publicación\n   - Breve explicación: descripción concisa del contenido normativo (máximo 100 palabras)\n   - Impacto para Grupo Azarbe: evaluación específica de cómo afecta a las actividades del Grupo\n   - Obligaciones prácticas: acciones concretas a realizar, o \"Ninguna\" si no aplica\n\n2) Redacta un apartado \"Conclusiones Generales\" con:\n   - Valoración global del impacto de las normas analizadas\n   - Recomendaciones de seguimiento si aplica\n   - Disponibilidad para ampliación de información\n\nDEVUELVE EXCLUSIVAMENTE UN JSON VÁLIDO con esta estructura, sin texto adicional, sin comentarios y sin marcas de código:\n\n{\n  \"asunto\": \"Informe Semanal de Alertas Normativas\",\n  \"cuerpo\": {\n    \"Normas Relevantes\": [\n      {\n        \"Número\": \"1\",\n        \"Título\": \"...\",\n        \"Boletín y ámbito\": \"...\",\n        \"Fecha de publicación\": \"...\",\n        \"Breve explicación\": \"...\",\n        \"Impacto para Grupo Azarbe\": \"...\",\n        \"Obligaciones prácticas\": \"...\"\n      }\n    ],\n    \"Conclusiones Generales\": {\n      \"Valoración\": \"...\",\n      \"Recomendaciones\": \"...\",\n      \"Cierre\": \"...\"\n    }\n  },\n  \"resumen\": \"Resumen ejecutivo en 3-5 frases\",\n  \"areas_afectadas\": [\"Área 1\", \"Área 2\"]\n}\n`;\n\nreturn [{\n  json: {\n    prompt,\n    rango_fechas: rangoFechas,\n    total_normas: normasTodas.length,\n    normas_relevantes: normas.length,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        64
      ],
      "id": "0aa11bd2-1b3a-4fa5-979b-1d355e186503",
      "name": "Prompt Para Email AI"
    },
    {
      "parameters": {
        "jsCode": "\nconst normas = ($json.normas_filtradas || []).flat();\n\nif (!normas.length) {\n  return [{ json: { error: 'SIN_NORMAS', debug_json: $json } }];\n}\n\n// --- CONFIGURACIÓN DE PALABRAS CLAVE POR COMUNIDAD ---\n// El LLM usará estas palabras clave para determinar la relevancia.\nconst KEYWORDS_POR_COMUNIDAD = {\n  'Comunidad Valenciana (Alicante)': [\n    'restauración','inmobiliario','varadero','fundación',\n    'alojamiento turístico','cine'\n  ],\n  'Comunidad Valenciana (Castellón)': [\n    'viviendas turísticas','gasolineras','fincas forestales','restauración'\n  ],\n  'Castilla-La Mancha': [\n    'abonos','fertilizantes','agricultura','ganadería','agua','rural','vino',\n    'bodega','caza','cinegético','envase','plástico','esencia','lavanda',\n    'ayudas','coto de caza','animales','aceite','almazara',\n    'organización de eventos','alojamientos turísticos'\n  ],\n  'Islas Baleares': ['restauración'],\n  'Cataluña': ['restauración'],\n  'Madrid': ['restauración'],\n  'Murcia': ['restauración'],\n  'Andalucía': ['restauración'],\n  'País Vasco': ['restauración'],\n  'Galicia': ['restauración'],\n  'Castilla y León': ['restauración', 'agricultura', 'ganadería', 'industria'],\n  'ESTADO': ['restauración', 'inmobiliario', 'turismo', 'subvenciones', 'ayudas empresas'],\n  'OTRA': ['restauración', 'inmobiliario']\n};\n\nconst items = normas.map((norma, index) => {\n  const comunidad = norma.comunidad || 'OTRA';\n  const keywords = KEYWORDS_POR_COMUNIDAD[comunidad] || KEYWORDS_POR_COMUNIDAD['OTRA'];\n\n  // Prompt enriquecido con URL y Texto completo\n  const prompt = `Actúa como un experto analista jurídico para el Grupo Azarbe.\nTu objetivo es filtrar normativa oficial y determinar si es RELEVANTE para el negocio.\n\nDATOS DE CONTEXTO:\n- Región: ${comunidad}\n- Palabras clave/Temas: ${keywords.join(', ')}\n\nNORMA A ANALIZAR:\n- Fuente: ${norma.fuente || 'Desconocida'}\n- Título: ${norma.titulo || 'Sin título'}\n- URL: ${norma.url || 'Sin URL'}\n- Texto Completo:\n${norma.texto || 'Sin texto'}\n\nINSTRUCCIONES:\n1. Lee el título y texto.\n2. Determina si es relevante para los temas indicados.\n3. Responde EXCLUSIVAMENTE con este JSON:\n{\n  \"es_relevante\": true/false,\n  \"sector_detectado\": \"...\",\n  \"justificacion\": \"...\"\n}`;\n\n  return {\n    json: {\n      index,\n      norma_original: norma,\n      prompt_para_ollama: prompt,\n    },\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        64
      ],
      "id": "6d3e61ae-4a2f-469e-a613-90d6ad05309c",
      "name": "Prompt Para Clasificación AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"gemma3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt_para_ollama\n      }\n    ],\n    \"stream\": false,\n     \"options\": {\n  \"num_predict\": 192,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9\n}\n  }\n}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 500
            }
          },
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        64
      ],
      "id": "f3d88d93-59fe-4d39-8c92-c531bfd690df",
      "name": "LLM Inference1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const all = [];\n\nfor (const item of items) {\n  const normas = item.json.normas || [];\n  all.push(...normas);\n}\n\nreturn [\n  {\n    json: {\n      normas_filtradas: all,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        576
      ],
      "id": "14248d29-7570-4a47-803f-a12f00dcffab",
      "name": "Merge Normas"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        512
      ],
      "id": "f7716f53-6446-435a-bae0-c066d8c33b2b",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst normasProcesadas = [];\n\nitems.forEach(item => {\n  const norma = item.json.norma_original || {};\n\n  // Obtener respuesta raw del LLM\n  const raw = item.json.response || item.json.message?.content || '';\n\n  try {\n    // Extracción robusta de JSON\n    let jsonText = raw;\n    const start = raw.indexOf('```');\n    const end = raw.lastIndexOf('```');\n    if (start !== -1 && end !== -1 && end > start) {\n      jsonText = raw.slice(start + 3, end);\n      if (jsonText.startsWith('json')) jsonText = jsonText.slice(4);\n    }\n    jsonText = jsonText.trim();\n    if (!jsonText.startsWith('{')) {\n       const match = jsonText.match(/\\{[\\s\\S]*\\}/);\n       if (match) jsonText = match[0];\n    }\n\n    const parsed = JSON.parse(jsonText);\n\n    normasProcesadas.push({\n      ...norma, // Preserva URL y todos los campos originales\n      es_relevante: parsed.es_relevante === true,\n      sector: parsed.sector_detectado || parsed.sector || 'NINGUNO',\n      justificacion: parsed.justificacion || parsed.razon || '',\n    });\n\n  } catch (e) {\n    normasProcesadas.push({\n      ...norma,\n      es_relevante: false,\n      sector: 'ERROR_PARSE',\n      justificacion: 'Error al parsear respuesta IA',\n    });\n  }\n});\n\nreturn [{\n  json: {\n    total_procesadas: normasProcesadas.length,\n    relevantes_ia: normasProcesadas.filter(n => n.es_relevante).length,\n    normas_procesadas: normasProcesadas,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        64
      ],
      "id": "b524c1c1-2f5a-4379-aeaa-b48c2cd75559",
      "name": "Tratamiento respesta LLM"
    },
    {
      "parameters": {
        "jsCode": "// 1) HTML generado por el LLM\nlet cuerpo = $json.cuerpo || {};\n\nif (typeof cuerpo === 'string') {\n  try {\n    cuerpo = JSON.parse(cuerpo);\n  } catch (e) {\n    cuerpo = {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    };\n  }\n}\n\n// 2) Recuperamos las normas originales con URL real\nconst normasOriginales =\n  $('Filtrar Sectores Grupo Azarbe').first().json.normas_relevantes || [];\n\n// Funciones auxiliares para buscar mejor por título\nfunction normaliza(str = '') {\n  return String(str)\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction buscarUrl(tituloLLM = '') {\n  const tLLM = normaliza(tituloLLM);\n  if (!tLLM) return '';\n\n  const n = normasOriginales.find(o => {\n    const tOrig = normaliza(o.titulo || '');\n    return tOrig.includes(tLLM) || tLLM.includes(tOrig);\n  });\n\n  return n?.url || '';\n}\n\nlet html = '';\n\n// ============================\n//   NORMAS RELEVANTES\n// ============================\n\nconst normas = cuerpo['Normas Relevantes'];\n\nif (Array.isArray(normas) && normas.length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">Normas Relevantes</h3>';\n\n  normas.forEach((n, index) => {\n    const numero = n['Número'] || (index + 1);\n    const titulo = n['Título'] || '';\n    const enlace = buscarUrl(titulo);\n\n    html += '<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 20px;\">';\n\n    html += `<p style=\"margin-bottom: 8px;\"><strong>${numero}. ${titulo}</strong>`;\n    if (enlace) {\n      html += ` (<a href=\"${enlace}\" target=\"_blank\" style=\"color: #0066cc;\">ver norma</a>)`;\n    }\n    html += '</p>';\n\n    if (n['Boletín y ámbito']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Boletín y ámbito:</strong> ${n['Boletín y ámbito']}</p>`;\n    }\n\n    if (n['Fecha de publicación']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Fecha de publicación:</strong> ${n['Fecha de publicación']}</p>`;\n    }\n\n    if (n['Breve explicación']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Breve explicación:</strong><br>${n['Breve explicación']}</p>`;\n    }\n\n    if (n['Impacto para Grupo Azarbe']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Impacto para Grupo Azarbe:</strong><br>${n['Impacto para Grupo Azarbe']}</p>`;\n    }\n\n    if (n['Obligaciones prácticas']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Obligaciones prácticas:</strong> ${n['Obligaciones prácticas']}</p>`;\n    }\n\n    html += '</div>';\n    html += '<hr style=\"border: 0; border-top: 1px solid #e0e0e0; margin: 16px 0;\">';\n  });\n}\n\n// ============================\n//    CONCLUSIONES GENERALES\n// ============================\n\nconst conclusiones = cuerpo['Conclusiones Generales'] || {};\n\nif (Object.keys(conclusiones).length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Conclusiones Generales</h3>';\n\n  if (conclusiones['Valoración']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Valoración']}</p>`;\n  }\n\n  if (conclusiones['Recomendaciones']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Recomendaciones']}</p>`;\n  }\n\n  if (conclusiones['Cierre']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Cierre']}</p>`;\n  }\n}\n\n// ============================\n//   RESUMEN EJECUTIVO (GLOBAL)\n// ============================\n\nhtml += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Resumen Ejecutivo</h3>';\nhtml += '<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">';\nhtml += `<li><strong>Normas analizadas:</strong> ${$json.total_normas}</li>`;\nhtml += `<li><strong>Normas relevantes para la actividad:</strong> ${$json.normas_relevantes}</li>`;\nhtml += `<li><strong>Áreas afectadas:</strong> ${($json.areas_afectadas || []).join(', ')}</li>`;\nhtml += '</ul>';\n\n// ============================\n//   DEVOLUCIÓN\n// ============================\n\nreturn [{\n  json: {\n    cuerpo_html: html,\n    asunto: $json.asunto || 'Informe Semanal de Alertas Normativas',\n    resumen: $json.resumen || '',\n    areas_afectadas: $json.areas_afectadas || [],\n    rango_fechas: $json.rango_fechas,\n    total_normas: $json.total_normas,\n    normas_relevantes: $json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        224
      ],
      "id": "4a6d4511-080d-497c-805f-08f628bc34ab",
      "name": "Generar HTML Informe"
    },
    {
      "parameters": {
        "jsCode": "// Base: todo lo que viene de Extract Final Text\nconst base = $json;\n\n// Si ya tienes calculadas normas_procesadas en otro nodo, ajústalo aquí.\n// Como ejemplo, asumimos que base.normas_procesadas existe; si no, usa tus campos reales.\nconst normasProcesadas = base.normas_procesadas || [];\nconst total_normas = normasProcesadas.length || (base.total_normas || 0);\n\n// Normas relevantes: por ejemplo, sector distinto de NINGUNO/ERROR_PARSE\nconst normasRelevantes = normasProcesadas.filter(n =>\n  n.sector && n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE',\n);\nconst normas_relevantes = normasRelevantes.length || (base.normas_relevantes || 0);\n\nreturn [{\n  json: {\n    ...base,                 // mantiene asunto, cuerpo, resumen, rango_fechas, areas_afectadas\n    total_normas,\n    normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        224
      ],
      "id": "e154aadd-9fff-4c81-b1a5-4b7fbe6329e5",
      "name": "Métricas Agregadas"
    },
    {
      "parameters": {
        "url": "https://bocyl.jcyl.es/rss.do",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        720
      ],
      "id": "0972be64-2267-4e14-ad07-2bfa14a913d5",
      "name": "BOCYL CastillaLeon"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        720
      ],
      "id": "bba9b69d-2e05-4d07-a5f3-a24509664815",
      "name": "XML4"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCYL',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Castilla y León',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        720
      ],
      "id": "8f59bfac-fa9e-47a1-a77e-bf20f71e2b91",
      "name": "BOE Normalizar normas4"
    },
    {
      "parameters": {
        "url": "https://www.euskadi.eus/bopv2/datos/Ultimo.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        912
      ],
      "id": "f199e722-1771-4fa5-9f1e-90d8e19d3594",
      "name": "BOPV Pais Vasco"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        912
      ],
      "id": "a8f6b82d-0a62-4c19-8098-7d72b0ee537e",
      "name": "XML5"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOPV',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'País Vasco',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        912
      ],
      "id": "83dfd40d-1935-4b3b-b0d2-22b519db15d1",
      "name": "BOE Normalizar normas5"
    },
    {
      "parameters": {
        "url": "https://www.caib.es/eboibfront/indexrss.do?lang=es",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16,
        1104
      ],
      "id": "2cd9405a-fcd0-46a6-918a-08e80db3a774",
      "name": "BOIB Islas Baleares"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        1104
      ],
      "id": "13e8048a-2ade-43b0-a2ad-bbb7346e426a",
      "name": "XML6"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOIB',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Islas Baleares',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1104
      ],
      "id": "d59e0c22-e410-461c-9e63-38d3b32e8405",
      "name": "BOE Normalizar normas6"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        1264
      ],
      "id": "c63c49df-21b5-4069-af28-725ae4db09d0",
      "name": "XML7"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOJA',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Andalucía',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        1264
      ],
      "id": "75f323b1-5bcd-4a46-9b70-c17e7a6b1270",
      "name": "BOE Normalizar normas7"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "comedido",
    "name": "myn8nflows"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-13T10:53:05.251Z",
      "createdAt": "2025-12-13T10:53:05.251Z",
      "role": "workflow:owner",
      "workflowId": "eFTQV2AcoqhiVKIA",
      "projectId": "c1ShJVsgvvl3Rwo1"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-13T11:14:57.000Z",
  "versionId": "8c7230d3-c7e6-49e9-9f3b-a25db0750e51"
}