MBpiqTpQzCfhU4rJ.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-09T09:49:08.694Z",
    "createdAt": "2025-12-09T09:49:08.694Z",
    "versionId": "1a4b8e31-0e18-4e55-b969-197dfa4aa6e7",
    "workflowId": "MBpiqTpQzCfhU4rJ",
    "nodes": [
      {
        "parameters": {
          "url": "https://www.boe.es/rss/boe.php",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -592,
          -32
        ],
        "id": "514fdf33-0c27-4e23-83a3-4c6139a81b4c",
        "name": "BOE España"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10,
                "triggerAtMinute": 40
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -992,
          16
        ],
        "id": "9cccab5b-a095-4393-aa6c-f4b2e45d13db",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          -32
        ],
        "id": "21e4d401-65a9-4699-8619-99209816f2ef",
        "name": "XML"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOE',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'ESTADO',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          -32
        ],
        "id": "c20b0fcf-acd0-43b0-9e85-d45697040d08",
        "name": "BOE Normalizar normas"
      },
      {
        "parameters": {
          "url": "https://www.borm.es/rss/boletin.xml",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -592,
          112
        ],
        "id": "474b9a74-90d4-422d-a39b-0bcafdc7815c",
        "name": "BORM Murcia"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          112
        ],
        "id": "64bc61d7-ec72-4e23-8415-ee5dc3cb56ec",
        "name": "XML1"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Murcia',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          112
        ],
        "id": "d56b9a77-9a57-4636-8760-72015fe85245",
        "name": "BOE Normalizar normas1"
      },
      {
        "parameters": {
          "jsCode": "function formatDate(d) {\nconst y = d.getFullYear();\nconst m = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\nreturn `${y}-${m}-${day}`;\n}\n\nconst now = new Date();\nconst hoy = new Date(now);\nconst hace7dias = new Date(now);\nhace7dias.setDate(hoy.getDate() - 15);\n\nreturn [\n{\njson: {\nhoy_iso: hoy.toISOString(),\nhace7dias_iso: hace7dias.toISOString(),\nhoy_str: formatDate(hoy),\nhace7dias_str: formatDate(hace7dias),\n},\n},\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -800,
          16
        ],
        "id": "0d7c7f29-7681-4bc9-ac1a-66cc4af7b3df",
        "name": "Calcular Rango Fechas"
      },
      {
        "parameters": {
          "url": "https://www.juntadeandalucia.es/servicios/normativas.xml",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "es-ES,es;q=0.9,en;q=0.8"
              },
              {
                "name": "Accept-Encoding",
                "value": "gzip, deflate, br"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -576,
          1200
        ],
        "id": "2cfb86c5-8012-4a11-aa0c-c6a8b490ffe4",
        "name": "BOJA Andalucia"
      },
      {
        "parameters": {
          "jsCode": "// 0) Entrada desde el nodo anterior (Code in JavaScript que procesa Ollama)\nconst entrada = ($json.normas_procesadas || []).flat();\nconst normasTodas = $json.normas_todas || entrada;  // si no viene normas_todas, usa todas\n\n// 1) Aseguramos campos coherentes: fuente / comunidad\nconst normas = entrada.map(n => {\n  const copia = { ...n };\n\n  // Si viene del BORM (por la URL), normaliza fuente y comunidad\n  if (copia.url && copia.url.includes('borm.es')) {\n    copia.fuente = 'BORM';\n    copia.comunidad = 'Murcia';\n  }\n\n  return copia;\n});\n\n// 2) Palabras clave por comunidad\nconst sectores = {\n  'Comunidad Valenciana (Alicante)': [\n    'restauración','inmobiliario','varadero','fundación',\n    'alojamiento turístico','cine'\n  ],\n  'Comunidad Valenciana (Castellón)': [\n    'viviendas turísticas','gasolineras','fincas forestales','restauración'\n  ],\n  'Castilla-La Mancha': [\n    'abonos','fertilizantes','agricultura','ganadería','agua','rural','vino',\n    'bodega','caza','cinegético','envase','plástico','esencia','lavanda',\n    'ayudas','coto de caza','animales','aceite','almazara',\n    'organización de eventos','alojamientos turísticos'\n  ],\n  'Islas Baleares': ['restauración'],\n  'Cataluña': ['restauración'],\n  'Madrid': ['restauración'],\n  'Murcia': ['restauración'],\n  'Andalucía': ['restauración'],\n  'País Vasco': ['restauración'],\n  'Galicia': ['restauración'],\n  // Aaron Added\n  'Castilla y León': [\n    'restauración', 'agricultura', 'ganadería', 'industria'\n  ],\n};\n\n// 3) Mapeo fuente → comunidad\nfunction comunidadFromFuente(fuente) {\n  switch (fuente) {\n    case 'BOE':  return 'ESTADO';\n    case 'BOJA': return 'Andalucía';\n    case 'BORM': return 'Murcia';\n    case 'BOCM': return 'Madrid';\n    case 'DOG':  return 'Galicia';\n    case 'DOGV': return 'Comunidad Valenciana (Alicante)';\n    case 'DOGC': return 'Cataluña';\n    case 'DOCM': return 'Castilla-La Mancha';\n    case 'BOCYL':return 'Castilla y León';\n    case 'BOPV': return 'País Vasco';\n    case 'BOIB': return 'Baleares';\n    default:     return 'OTRA';\n  }\n}\n\n// 4) Función de decisión\nfunction esRelevante(norma) {\n  // PRIORIDAD: usa sector del LLM si existe\n  if (norma.sector && ['RESTAURACION','INMOBILIARIO','TURISMO'].includes(norma.sector.toUpperCase())) {\n    return true;\n  }\n\n  // Fallback: keyword matching\n  const comunidad = norma.comunidad || comunidadFromFuente(norma.fuente);\n  const claves = sectores[comunidad] || [];\n  if (!claves.length) return false;\n\n  const texto = (\n    (norma.titulo || '') + ' ' +\n    (norma.texto_limpio || norma.texto || '')\n  ).toLowerCase();\n\n  return claves.some(k => texto.includes(k.toLowerCase()));\n}\n\n// 5) Aplicar filtro\nconst relevantes = normas.filter(esRelevante);\n\n// 6) Salida\nreturn [{\n  json: {\n    normas_todas: normasTodas,\n    normas_relevantes: relevantes,\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          0
        ],
        "id": "f28f9f7f-96ad-4df0-9590-415390db9078",
        "name": "Filtrar Sectores Grupo Azarbe"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://10.10.10.96:11434/api/chat",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    \"model\": \"llama3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt\n      }\n    ],\n    \"stream\": false,\n    \"options\": {\n      \"temperature\": 0.4,\n      \"num_predict\": 2048\n    }\n  }\n}}",
          "options": {
            "timeout": 3600000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          464,
          160
        ],
        "id": "6972ec37-02b2-4148-9472-21e59c4a21a7",
        "name": "LLM Inference"
      },
      {
        "parameters": {
          "jsCode": "const res = $json;\n\n// Texto bruto del LLM\nconst raw = res.message?.content || '';\n\nlet jsonText = raw.trim();\n\n// Intentar extraer bloque ``` ```\nconst start = jsonText.indexOf('```');\nconst end = jsonText.lastIndexOf('```');\n\nif (start !== -1 && end !== -1 && end > start) {\n  jsonText = jsonText.slice(start + 3, end).trim();\n  // Remover posible \"json\" al inicio\n  if (jsonText.startsWith('json')) {\n    jsonText = jsonText.slice(4).trim();\n  }\n}\n\n// Si aún no empieza por \"{\", intenta sacar el primer objeto {...}\nif (!jsonText.startsWith('{')) {\n  const match = jsonText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    jsonText = match[0];\n  }\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  // Fallback: estructura mínima para no romper el flujo\n  parsed = {\n    asunto: 'Informe Semanal de Alertas Normativas',\n    cuerpo: {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar el informe',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    },\n    resumen: `Error al parsear JSON del modelo: ${e.message}`,\n    areas_afectadas: $json.areas_afectadas || [],\n  };\n}\n\nreturn [{\n  json: {\n    asunto: parsed.asunto || 'Informe Semanal de Alertas Normativas',\n    cuerpo: parsed.cuerpo || parsed,\n    resumen: parsed.resumen || '',\n    areas_afectadas: parsed.areas_afectadas || $json.areas_afectadas || [],\n    rango_fechas: $('Prompt Para Email AI').first().json.rango_fechas,\n    total_normas: $('Prompt Para Email AI').first().json.total_normas,\n    normas_relevantes: $('Prompt Para Email AI').first().json.normas_relevantes,\n  },\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          160
        ],
        "id": "b565f147-01bf-4c4f-afd6-d84556c876a6",
        "name": "Extract Final Text"
      },
      {
        "parameters": {
          "fromEmail": "comedido@gmail.com",
          "toEmail": "aarondominguezsanchez@gmail.com",
          "subject": "={{ $json.asunto }} – {{$json.rango_fechas}}",
          "html": "=<h2 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 4px;\">\n  Informe Jurídico Semanal\n</h2>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Estimados/as,<br><br>\n  Adjuntamos el informe semanal con un análisis detallado de las principales novedades legislativas publicadas en los boletines oficiales.\n  El informe cubre el período\n  <strong>{{$json.rango_fechas}}</strong>\n  y se ha elaborado a partir de los siguientes diarios oficiales:\n</p>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333; margin-left: 20px;\">\n  <li>✅ BOE</li>\n  <li>✅ BOJA (Andalucía)</li>\n  <li>✅ BORM (Murcia)</li>\n  <li>✅ BOCM (Madrid)</li>\n  <li>✅ DOG (Galicia)</li>\n  <li>⚠️ DOGV (Comunidad Valenciana)</li>\n  <li>⚠️ DOGC (Cataluña)</li>\n  <li>⚠️ DOCM (Castilla-La Mancha)</li>\n  <li>✅ BOCYL (Castilla y León)</li>\n  <li>✅ BOPV (País Vasco)</li>\n  <li>✅ BOIB (Islas Baleares)</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  A continuación se detallan las normas consideradas más relevantes para la actividad del Grupo, con una explicación ampliada de su contenido,\n  del impacto jurídico potencial y de las obligaciones prácticas que pueden derivarse para las distintas áreas implicadas.\n</p>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<!-- Aquí inyectamos el HTML generado -->\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6;\">\n  {{$json.cuerpo_html}}\n</div>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">\n  Resumen Ejecutivo (global)\n</h3>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">\n  <li><strong>Normas analizadas:</strong> {{$json.total_normas}}</li>\n  <li><strong>Normas relevantes para la actividad:</strong> {{$json.normas_relevantes}}</li>\n  <li><strong>Áreas afectadas:</strong> {{ ($json.areas_afectadas || []).join(', ') }}</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 12px;\">\n  El resumen ejecutivo incorpora una valoración jurídica extensiva y priorizada de los riesgos y oportunidades detectados,\n  con especial atención a las materias de cumplimiento normativo, contratación, protección de datos y regulación sectorial.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 20px;\">\n  Si necesita ampliar información sobre alguna de las normas o requiere un análisis específico para un proyecto o sociedad concreta,\n  quedamos a su disposición para profundizar en los aspectos que resulten de mayor interés.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Atentamente,<br>\n  <strong>Departamento Jurídico</strong><br>\n  Sistema automatizado de alertas normativas\n</p>\n",
          "options": {}
        },
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 2.1,
        "position": [
          464,
          320
        ],
        "id": "c8096448-9225-42f2-9d30-b6c018222e38",
        "name": "Send email",
        "webhookId": "365ea2dc-7775-473c-a62c-c2424d821e10",
        "credentials": {
          "smtp": {
            "id": "4kUvfaCBAq90daii",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "26402261",
          "text": "=🔔 *Informe Semanal de Alertas Normativas*\n\n📅 *Período:* {{ $('Generar HTML Informe').item.json.rango_fechas }}\n\n📊 *Resumen:*\n• Normas analizadas: {{ $('Generar HTML Informe').item.json.total_normas }}\n• Normas relevantes: {{ $('Generar HTML Informe').item.json.normas_relevantes }}\n\n{{ $('Generar HTML Informe').item.json.normas_relevantes > 0\n  ? '✅ Se han identificado normas de interés para el Grupo Azarbe.'\n  : '⚪ No hay normas relevantes esta semana.' }}\n\n📧 Informe completo enviado a: mberna@grupoazarbe.com\n",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          640,
          320
        ],
        "id": "55a83c0c-489a-4586-82fa-5861fd201e12",
        "name": "Send a text message",
        "webhookId": "852675cc-0311-408c-948c-ddc675df3c22",
        "credentials": {
          "telegramApi": {
            "id": "zgQWZHZ2nMs05qtB",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://www.bocm.es/boletines.rss",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -592,
          288
        ],
        "id": "fd7f97b1-d6e3-4c7d-9f49-0923e29e3073",
        "name": "BOCM Madrid"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          288
        ],
        "id": "f015399f-a3b4-4a9c-b5eb-1dfbc54d4873",
        "name": "XML2"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Madrid',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          288
        ],
        "id": "de3a8f9f-91ac-46a1-aea0-64df2f3af5bb",
        "name": "BOE Normalizar normas2"
      },
      {
        "parameters": {
          "url": "https://www.xunta.gal/diario-oficial-galicia/rss/Sumario_es.rss",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -592,
          464
        ],
        "id": "642ca23a-d835-484f-9725-df2e35af1c32",
        "name": "DOG Galicia"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          464
        ],
        "id": "aa03c12e-c123-4359-b696-2a76e4ea9184",
        "name": "XML3"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'DOG',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Galicia',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          464
        ],
        "id": "4bad8658-5aff-4be4-8866-e8988a79e64a",
        "name": "BOE Normalizar normas3"
      },
      {
        "parameters": {
          "jsCode": "const normas = $json.normas_relevantes || [];\nconst normasTodas = $json.normas_todas || [];\n\n// Recuperar el rango de fechas\nconst rango = $('Calcular Rango Fechas').first().json;\nconst rangoFechas = `${rango.hace7dias_str} – ${rango.hoy_str}`;\n\nlet listado = '';\n\nfor (const n of normas) {\n  const texto = n.texto_limpio || n.texto || '';\n\n  listado += `- Título: ${n.titulo || ''}\\n`;\n  listado += `  Fecha: ${n.fecha_publicacion || ''}\\n`;\n  listado += `  Fuente: ${n.fuente || ''} (${n.comunidad || ''})\\n`;\n  listado += `  Enlace: ${n.url || ''}\\n`;\n  listado += `  Texto: ${texto}\\n\\n`;\n}\n\nif (normas.length === 0) {\n  listado = 'No se han identificado normas relevantes para las actividades del Grupo Azarbe en los últimos 7 días.\\n';\n}\n\nconst prompt = `\nActúas como asesor jurídico especializado en normativa española para el Grupo Azarbe.\n\nRango de fechas: ${rangoFechas}\n\nListado de normas relevantes (ya filtradas por sector y comunidad autónoma):\n\n${listado}\n\nTareas:\n\n1) Redacta un apartado \"Normas Relevantes\", con cada norma en formato estructurado, indicando:\n   - Título (con número de identificación si existe, ej: BOE-A-2025-24230)\n   - Boletín y ámbito (ej: \"BOE nº 287 – España\" o \"DOUE(L) nº 2385 – Unión Europea\")\n   - Fecha de publicación\n   - Breve explicación: descripción concisa del contenido normativo (máximo 100 palabras)\n   - Impacto para Grupo Azarbe: evaluación específica de cómo afecta a las actividades del Grupo\n   - Obligaciones prácticas: acciones concretas a realizar, o \"Ninguna\" si no aplica\n\n2) Redacta un apartado \"Conclusiones Generales\" con:\n   - Valoración global del impacto de las normas analizadas\n   - Recomendaciones de seguimiento si aplica\n   - Disponibilidad para ampliación de información\n\nDEVUELVE EXCLUSIVAMENTE UN JSON VÁLIDO con esta estructura, sin texto adicional, sin comentarios y sin marcas de código:\n\n{\n  \"asunto\": \"Informe Semanal de Alertas Normativas\",\n  \"cuerpo\": {\n    \"Normas Relevantes\": [\n      {\n        \"Número\": \"1\",\n        \"Título\": \"...\",\n        \"Boletín y ámbito\": \"...\",\n        \"Fecha de publicación\": \"...\",\n        \"Breve explicación\": \"...\",\n        \"Impacto para Grupo Azarbe\": \"...\",\n        \"Obligaciones prácticas\": \"...\"\n      }\n    ],\n    \"Conclusiones Generales\": {\n      \"Valoración\": \"...\",\n      \"Recomendaciones\": \"...\",\n      \"Cierre\": \"...\"\n    }\n  },\n  \"resumen\": \"Resumen ejecutivo en 3-5 frases\",\n  \"areas_afectadas\": [\"Área 1\", \"Área 2\"]\n}\n`;\n\nreturn [{\n  json: {\n    prompt,\n    rango_fechas: rangoFechas,\n    total_normas: normasTodas.length,\n    normas_relevantes: normas.length,\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          0
        ],
        "id": "bc425ab7-59f4-4a33-b491-29c9ba2b2832",
        "name": "Prompt Para Email AI"
      },
      {
        "parameters": {
          "jsCode": "//const normas = ($json.normas_filtradas || []).flat().slice(0, 300);\nconst normas = ($json.normas_filtradas || []).flat();\n\nif (!normas.length) {\n  return [{ json: { error: 'SIN_NORMAS', debug_json: $json } }];\n}\n\nconst items = normas.map((norma, index) => {\n  const prompt = `Eres un clasificador de normativa española.\n\nNORMA:\nFUENTE: ${norma.fuente || 'SIN FUENTE'}\nTITULO: ${norma.titulo || 'SIN TITULO'}\nTEXTO: ${norma.texto?.slice(0, 2000) || 'SIN TEXTO'}\n\nDevuelve SOLO JSON con:\n{\"sector\": \"...\", \"texto_limpio\": \"...\", \"razon\": \"...\", \"confianza\": \"alta|media|baja\"}`;\n\n  return {\n    json: {\n      index,\n      norma_original: norma,\n      prompt_para_ollama: prompt,\n    },\n  };\n});\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          0
        ],
        "id": "2b79488c-0e2a-48a4-85f6-8d89b694bec4",
        "name": "Prompt Para Clasificación AI"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://10.10.10.96:11434/api/chat",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{\n  {\n    \"model\": \"gemma3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt_para_ollama\n      }\n    ],\n    \"stream\": false,\n     \"options\": {\n  \"num_predict\": 192,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9\n}\n  }\n}}",
          "options": {
            "batching": {
              "batch": {
                "batchSize": 3,
                "batchInterval": 500
              }
            },
            "timeout": 3600000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          640,
          0
        ],
        "id": "77a0731b-eec6-4f09-a12f-75937844caa0",
        "name": "LLM Inference1",
        "executeOnce": false
      },
      {
        "parameters": {
          "jsCode": "const all = [];\n\nfor (const item of items) {\n  const normas = item.json.normas || [];\n  all.push(...normas);\n}\n\nreturn [\n  {\n    json: {\n      normas_filtradas: all,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          272,
          512
        ],
        "id": "69807eab-ca70-4658-b19f-36204b8f9718",
        "name": "Merge Normas"
      },
      {
        "parameters": {
          "numberInputs": 8
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          112,
          448
        ],
        "id": "8cc8772a-f063-47f6-809f-ae5c93fabf8f",
        "name": "Merge"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst normasProcesadas = [];\n\nitems.forEach(item => {\n  const norma = item.json.norma_original || {};\n\n  // Gemma3 devuelve la respuesta en message.content\n  const raw = item.json.response\n    || item.json.message?.content\n    || '';\n\n  try {\n    // Buscar bloque ```...```\n    const start = raw.indexOf('```');\n    const end = raw.lastIndexOf('```');\n\n    let jsonText = raw;\n\n    if (start !== -1 && end !== -1 && end > start) {\n      jsonText = raw.slice(start + 3, end);   // +3 = longitud de ```\n    }\n\n    jsonText = jsonText.trim();\n\n    if (!jsonText.startsWith('{')) {\n      // fallback: intenta extraer el primer {...}\n      const jsonMatch = jsonText.match(/\\{[\\s\\S]*\\}/);\n      if (!jsonMatch) throw new Error('No JSON');\n      jsonText = jsonMatch[0];   // antes faltaba [0]\n    }\n\n    const parsed = JSON.parse(jsonText);\n\n    normasProcesadas.push({\n      ...norma,\n      sector: parsed.sector || 'NINGUNO',\n      texto_limpio: parsed.texto_limpio || '',\n      razon: parsed.razon || '',\n      confianza: parsed.confianza || 'baja',\n      ollama_raw: raw.slice(0, 200), // debug\n    });\n\n  } catch (e) {\n    normasProcesadas.push({\n      ...norma,\n      sector: 'ERROR_PARSE',\n      texto_limpio: (norma.texto || '').slice(0, 200),\n      razon: `Parse error: ${e.message}`,\n      confianza: 'baja',\n    });\n  }\n});\n\nreturn [{\n  json: {\n    total_procesadas: normasProcesadas.length,\n    con_sector: normasProcesadas.filter(\n      n => n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE'\n    ).length,\n    normas_procesadas: normasProcesadas,\n    muestra: normasProcesadas.slice(0, 3),\n  },\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          0
        ],
        "id": "c6ff4658-b530-4ad5-8fef-66f99aef095b",
        "name": "Tratamiento respesta LLM"
      },
      {
        "parameters": {
          "jsCode": "// 1) HTML generado por el LLM\nlet cuerpo = $json.cuerpo || {};\n\nif (typeof cuerpo === 'string') {\n  try {\n    cuerpo = JSON.parse(cuerpo);\n  } catch (e) {\n    cuerpo = {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    };\n  }\n}\n\n// 2) Recuperamos las normas originales con URL real\nconst normasOriginales =\n  $('Filtrar Sectores Grupo Azarbe').first().json.normas_relevantes || [];\n\n// Funciones auxiliares para buscar mejor por título\nfunction normaliza(str = '') {\n  return String(str)\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction buscarUrl(tituloLLM = '') {\n  const tLLM = normaliza(tituloLLM);\n  if (!tLLM) return '';\n\n  const n = normasOriginales.find(o => {\n    const tOrig = normaliza(o.titulo || '');\n    return tOrig.includes(tLLM) || tLLM.includes(tOrig);\n  });\n\n  return n?.url || '';\n}\n\nlet html = '';\n\n// ============================\n//   NORMAS RELEVANTES\n// ============================\n\nconst normas = cuerpo['Normas Relevantes'];\n\nif (Array.isArray(normas) && normas.length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">Normas Relevantes</h3>';\n\n  normas.forEach((n, index) => {\n    const numero = n['Número'] || (index + 1);\n    const titulo = n['Título'] || '';\n    const enlace = buscarUrl(titulo);\n\n    html += '<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 20px;\">';\n\n    html += `<p style=\"margin-bottom: 8px;\"><strong>${numero}. ${titulo}</strong>`;\n    if (enlace) {\n      html += ` (<a href=\"${enlace}\" target=\"_blank\" style=\"color: #0066cc;\">ver norma</a>)`;\n    }\n    html += '</p>';\n\n    if (n['Boletín y ámbito']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Boletín y ámbito:</strong> ${n['Boletín y ámbito']}</p>`;\n    }\n\n    if (n['Fecha de publicación']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Fecha de publicación:</strong> ${n['Fecha de publicación']}</p>`;\n    }\n\n    if (n['Breve explicación']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Breve explicación:</strong><br>${n['Breve explicación']}</p>`;\n    }\n\n    if (n['Impacto para Grupo Azarbe']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Impacto para Grupo Azarbe:</strong><br>${n['Impacto para Grupo Azarbe']}</p>`;\n    }\n\n    if (n['Obligaciones prácticas']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Obligaciones prácticas:</strong> ${n['Obligaciones prácticas']}</p>`;\n    }\n\n    html += '</div>';\n    html += '<hr style=\"border: 0; border-top: 1px solid #e0e0e0; margin: 16px 0;\">';\n  });\n}\n\n// ============================\n//    CONCLUSIONES GENERALES\n// ============================\n\nconst conclusiones = cuerpo['Conclusiones Generales'] || {};\n\nif (Object.keys(conclusiones).length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Conclusiones Generales</h3>';\n\n  if (conclusiones['Valoración']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Valoración']}</p>`;\n  }\n\n  if (conclusiones['Recomendaciones']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Recomendaciones']}</p>`;\n  }\n\n  if (conclusiones['Cierre']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Cierre']}</p>`;\n  }\n}\n\n// ============================\n//   RESUMEN EJECUTIVO (GLOBAL)\n// ============================\n\nhtml += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Resumen Ejecutivo</h3>';\nhtml += '<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">';\nhtml += `<li><strong>Normas analizadas:</strong> ${$json.total_normas}</li>`;\nhtml += `<li><strong>Normas relevantes para la actividad:</strong> ${$json.normas_relevantes}</li>`;\nhtml += `<li><strong>Áreas afectadas:</strong> ${($json.areas_afectadas || []).join(', ')}</li>`;\nhtml += '</ul>';\n\n// ============================\n//   DEVOLUCIÓN\n// ============================\n\nreturn [{\n  json: {\n    cuerpo_html: html,\n    asunto: $json.asunto || 'Informe Semanal de Alertas Normativas',\n    resumen: $json.resumen || '',\n    areas_afectadas: $json.areas_afectadas || [],\n    rango_fechas: $json.rango_fechas,\n    total_normas: $json.total_normas,\n    normas_relevantes: $json.normas_relevantes,\n  },\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          160
        ],
        "id": "d18b33fb-9da2-4924-acaa-0498dfa38569",
        "name": "Generar HTML Informe"
      },
      {
        "parameters": {
          "jsCode": "// Base: todo lo que viene de Extract Final Text\nconst base = $json;\n\n// Si ya tienes calculadas normas_procesadas en otro nodo, ajústalo aquí.\n// Como ejemplo, asumimos que base.normas_procesadas existe; si no, usa tus campos reales.\nconst normasProcesadas = base.normas_procesadas || [];\nconst total_normas = normasProcesadas.length || (base.total_normas || 0);\n\n// Normas relevantes: por ejemplo, sector distinto de NINGUNO/ERROR_PARSE\nconst normasRelevantes = normasProcesadas.filter(n =>\n  n.sector && n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE',\n);\nconst normas_relevantes = normasRelevantes.length || (base.normas_relevantes || 0);\n\nreturn [{\n  json: {\n    ...base,                 // mantiene asunto, cuerpo, resumen, rango_fechas, areas_afectadas\n    total_normas,\n    normas_relevantes,\n  },\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          816,
          160
        ],
        "id": "a43d358a-6df4-45de-aba6-86fc9a6a6341",
        "name": "Métricas Agregadas"
      },
      {
        "parameters": {
          "url": "https://bocyl.jcyl.es/rss.do",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -592,
          656
        ],
        "id": "338cb740-f8b2-4e15-8719-93170417fcda",
        "name": "BOCYL CastillaLeon"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          656
        ],
        "id": "2e7f729e-a9f7-4970-9806-7ae696027747",
        "name": "XML4"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCYL',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Castilla y León',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          656
        ],
        "id": "0b20a228-6146-4d31-bb75-8d0160b630bf",
        "name": "BOE Normalizar normas4"
      },
      {
        "parameters": {
          "url": "https://www.euskadi.eus/bopv2/datos/Ultimo.xml",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -576,
          848
        ],
        "id": "4bf48abb-c384-4c7f-9d14-9c5414fba3f4",
        "name": "BOPV Pais Vasco"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          848
        ],
        "id": "59e08f26-5bb5-41fe-a517-f2ab6269fb1e",
        "name": "XML5"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOPV',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'País Vasco',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          848
        ],
        "id": "795ace18-b6fb-4c85-aefd-4efa6301ce7b",
        "name": "BOE Normalizar normas5"
      },
      {
        "parameters": {
          "url": "https://www.caib.es/eboibfront/indexrss.do?lang=es",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "User-Agent",
                "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
              },
              {
                "name": "Accept",
                "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
              },
              {
                "name": "Accept-Language",
                "value": "es-ES,es;q=0.9,en;q=0.8"
              },
              {
                "name": "Accept-Encoding",
                "value": "gzip, deflate, br"
              }
            ]
          },
          "options": {
            "timeout": 30000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -576,
          1040
        ],
        "id": "05e05b5c-d310-43ac-9d4b-1bb6bf9d1468",
        "name": "BOIB Islas Baleares"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          1040
        ],
        "id": "791fc675-0e19-41bf-8bd7-24d124759c7d",
        "name": "XML6"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOIB',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Islas Baleares',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          1040
        ],
        "id": "2e699595-6de3-4e8c-9a2a-cb048dfdcfb3",
        "name": "BOE Normalizar normas6"
      },
      {
        "parameters": {
          "options": {
            "explicitArray": false,
            "mergeAttrs": true
          }
        },
        "type": "n8n-nodes-base.xml",
        "typeVersion": 1,
        "position": [
          -384,
          1200
        ],
        "id": "4437eaf5-edb1-4c18-be67-6415e809e97b",
        "name": "XML7"
      },
      {
        "parameters": {
          "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOJA',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Andalucía',\n};\n});\n\nreturn [{ json: { normas } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -176,
          1200
        ],
        "id": "63e00642-044e-4fd4-ae43-d11f56fe7e09",
        "name": "BOE Normalizar normas7"
      }
    ],
    "connections": {
      "BOE España": {
        "main": [
          [
            {
              "node": "XML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Calcular Rango Fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BORM Murcia": {
        "main": [
          [
            {
              "node": "XML1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML1": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Calcular Rango Fechas": {
        "main": [
          [
            {
              "node": "BORM Murcia",
              "type": "main",
              "index": 0
            },
            {
              "node": "BOE España",
              "type": "main",
              "index": 0
            },
            {
              "node": "BOCM Madrid",
              "type": "main",
              "index": 0
            },
            {
              "node": "DOG Galicia",
              "type": "main",
              "index": 0
            },
            {
              "node": "BOCYL CastillaLeon",
              "type": "main",
              "index": 0
            },
            {
              "node": "BOPV Pais Vasco",
              "type": "main",
              "index": 0
            },
            {
              "node": "BOIB Islas Baleares",
              "type": "main",
              "index": 0
            },
            {
              "node": "BOJA Andalucia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrar Sectores Grupo Azarbe": {
        "main": [
          [
            {
              "node": "Prompt Para Email AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Inference": {
        "main": [
          [
            {
              "node": "Extract Final Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Final Text": {
        "main": [
          [
            {
              "node": "Métricas Agregadas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send email": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOCM Madrid": {
        "main": [
          [
            {
              "node": "XML2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas2": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "XML2": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DOG Galicia": {
        "main": [
          [
            {
              "node": "XML3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML3": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas3": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Prompt Para Email AI": {
        "main": [
          [
            {
              "node": "LLM Inference",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prompt Para Clasificación AI": {
        "main": [
          [
            {
              "node": "LLM Inference1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Inference1": {
        "main": [
          [
            {
              "node": "Tratamiento respesta LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Merge Normas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Normas": {
        "main": [
          [
            {
              "node": "Prompt Para Clasificación AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tratamiento respesta LLM": {
        "main": [
          [
            {
              "node": "Filtrar Sectores Grupo Azarbe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar HTML Informe": {
        "main": [
          [
            {
              "node": "Send email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Métricas Agregadas": {
        "main": [
          [
            {
              "node": "Generar HTML Informe",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOCYL CastillaLeon": {
        "main": [
          [
            {
              "node": "XML4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML4": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas4": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "BOPV Pais Vasco": {
        "main": [
          [
            {
              "node": "XML5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML5": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas5": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 5
            }
          ]
        ]
      },
      "BOIB Islas Baleares": {
        "main": [
          [
            {
              "node": "XML6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML6": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas6": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 6
            }
          ]
        ]
      },
      "BOJA Andalucia": {
        "main": [
          [
            {
              "node": "XML7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "XML7": {
        "main": [
          [
            {
              "node": "BOE Normalizar normas7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "BOE Normalizar normas7": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 7
            }
          ]
        ]
      }
    },
    "authors": "Aaron Dominguez",
    "name": null,
    "description": null
  },
  "activeVersionId": "1a4b8e31-0e18-4e55-b969-197dfa4aa6e7",
  "connections": {
    "BOE España": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calcular Rango Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BORM Murcia": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcular Rango Fechas": {
      "main": [
        [
          {
            "node": "BORM Murcia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOE España",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCM Madrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "DOG Galicia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCYL CastillaLeon",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOPV Pais Vasco",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOIB Islas Baleares",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOJA Andalucia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Sectores Grupo Azarbe": {
      "main": [
        [
          {
            "node": "Prompt Para Email AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference": {
      "main": [
        [
          {
            "node": "Extract Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Final Text": {
      "main": [
        [
          {
            "node": "Métricas Agregadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOCM Madrid": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOG Galicia": {
      "main": [
        [
          {
            "node": "XML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML3": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prompt Para Email AI": {
      "main": [
        [
          {
            "node": "LLM Inference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Para Clasificación AI": {
      "main": [
        [
          {
            "node": "LLM Inference1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference1": {
      "main": [
        [
          {
            "node": "Tratamiento respesta LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Normas": {
      "main": [
        [
          {
            "node": "Prompt Para Clasificación AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamiento respesta LLM": {
      "main": [
        [
          {
            "node": "Filtrar Sectores Grupo Azarbe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Informe": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas Agregadas": {
      "main": [
        [
          {
            "node": "Generar HTML Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOCYL CastillaLeon": {
      "main": [
        [
          {
            "node": "XML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML4": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "BOPV Pais Vasco": {
      "main": [
        [
          {
            "node": "XML5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML5": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "BOIB Islas Baleares": {
      "main": [
        [
          {
            "node": "XML6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML6": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "BOJA Andalucia": {
      "main": [
        [
          {
            "node": "XML7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML7": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-09T09:32:56.441Z",
  "id": "MBpiqTpQzCfhU4rJ",
  "isArchived": false,
  "meta": null,
  "name": "Miriam BOE - Alerta Boletines_v2",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.boe.es/rss/boe.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        -32
      ],
      "id": "514fdf33-0c27-4e23-83a3-4c6139a81b4c",
      "name": "BOE España"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        16
      ],
      "id": "9cccab5b-a095-4393-aa6c-f4b2e45d13db",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ],
      "id": "21e4d401-65a9-4699-8619-99209816f2ef",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOE',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'ESTADO',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -32
      ],
      "id": "c20b0fcf-acd0-43b0-9e85-d45697040d08",
      "name": "BOE Normalizar normas"
    },
    {
      "parameters": {
        "url": "https://www.borm.es/rss/boletin.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        112
      ],
      "id": "474b9a74-90d4-422d-a39b-0bcafdc7815c",
      "name": "BORM Murcia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        112
      ],
      "id": "64bc61d7-ec72-4e23-8415-ee5dc3cb56ec",
      "name": "XML1"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Murcia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        112
      ],
      "id": "d56b9a77-9a57-4636-8760-72015fe85245",
      "name": "BOE Normalizar normas1"
    },
    {
      "parameters": {
        "jsCode": "function formatDate(d) {\nconst y = d.getFullYear();\nconst m = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\nreturn `${y}-${m}-${day}`;\n}\n\nconst now = new Date();\nconst hoy = new Date(now);\nconst hace7dias = new Date(now);\nhace7dias.setDate(hoy.getDate() - 15);\n\nreturn [\n{\njson: {\nhoy_iso: hoy.toISOString(),\nhace7dias_iso: hace7dias.toISOString(),\nhoy_str: formatDate(hoy),\nhace7dias_str: formatDate(hace7dias),\n},\n},\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        16
      ],
      "id": "0d7c7f29-7681-4bc9-ac1a-66cc4af7b3df",
      "name": "Calcular Rango Fechas"
    },
    {
      "parameters": {
        "url": "https://www.juntadeandalucia.es/servicios/normativas.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        1200
      ],
      "id": "2cfb86c5-8012-4a11-aa0c-c6a8b490ffe4",
      "name": "BOJA Andalucia"
    },
    {
      "parameters": {
        "jsCode": "// 0) Entrada desde el nodo anterior (Code in JavaScript que procesa Ollama)\nconst entrada = ($json.normas_procesadas || []).flat();\nconst normasTodas = $json.normas_todas || entrada;  // si no viene normas_todas, usa todas\n\n// 1) Aseguramos campos coherentes: fuente / comunidad\nconst normas = entrada.map(n => {\n  const copia = { ...n };\n\n  // Si viene del BORM (por la URL), normaliza fuente y comunidad\n  if (copia.url && copia.url.includes('borm.es')) {\n    copia.fuente = 'BORM';\n    copia.comunidad = 'Murcia';\n  }\n\n  return copia;\n});\n\n// 2) Palabras clave por comunidad\nconst sectores = {\n  'Comunidad Valenciana (Alicante)': [\n    'restauración','inmobiliario','varadero','fundación',\n    'alojamiento turístico','cine'\n  ],\n  'Comunidad Valenciana (Castellón)': [\n    'viviendas turísticas','gasolineras','fincas forestales','restauración'\n  ],\n  'Castilla-La Mancha': [\n    'abonos','fertilizantes','agricultura','ganadería','agua','rural','vino',\n    'bodega','caza','cinegético','envase','plástico','esencia','lavanda',\n    'ayudas','coto de caza','animales','aceite','almazara',\n    'organización de eventos','alojamientos turísticos'\n  ],\n  'Islas Baleares': ['restauración'],\n  'Cataluña': ['restauración'],\n  'Madrid': ['restauración'],\n  'Murcia': ['restauración'],\n  'Andalucía': ['restauración'],\n  'País Vasco': ['restauración'],\n  'Galicia': ['restauración'],\n  // Aaron Added\n  'Castilla y León': [\n    'restauración', 'agricultura', 'ganadería', 'industria'\n  ],\n};\n\n// 3) Mapeo fuente → comunidad\nfunction comunidadFromFuente(fuente) {\n  switch (fuente) {\n    case 'BOE':  return 'ESTADO';\n    case 'BOJA': return 'Andalucía';\n    case 'BORM': return 'Murcia';\n    case 'BOCM': return 'Madrid';\n    case 'DOG':  return 'Galicia';\n    case 'DOGV': return 'Comunidad Valenciana (Alicante)';\n    case 'DOGC': return 'Cataluña';\n    case 'DOCM': return 'Castilla-La Mancha';\n    case 'BOCYL':return 'Castilla y León';\n    case 'BOPV': return 'País Vasco';\n    case 'BOIB': return 'Baleares';\n    default:     return 'OTRA';\n  }\n}\n\n// 4) Función de decisión\nfunction esRelevante(norma) {\n  // PRIORIDAD: usa sector del LLM si existe\n  if (norma.sector && ['RESTAURACION','INMOBILIARIO','TURISMO'].includes(norma.sector.toUpperCase())) {\n    return true;\n  }\n\n  // Fallback: keyword matching\n  const comunidad = norma.comunidad || comunidadFromFuente(norma.fuente);\n  const claves = sectores[comunidad] || [];\n  if (!claves.length) return false;\n\n  const texto = (\n    (norma.titulo || '') + ' ' +\n    (norma.texto_limpio || norma.texto || '')\n  ).toLowerCase();\n\n  return claves.some(k => texto.includes(k.toLowerCase()));\n}\n\n// 5) Aplicar filtro\nconst relevantes = normas.filter(esRelevante);\n\n// 6) Salida\nreturn [{\n  json: {\n    normas_todas: normasTodas,\n    normas_relevantes: relevantes,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "f28f9f7f-96ad-4df0-9590-415390db9078",
      "name": "Filtrar Sectores Grupo Azarbe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"llama3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt\n      }\n    ],\n    \"stream\": false,\n    \"options\": {\n      \"temperature\": 0.4,\n      \"num_predict\": 2048\n    }\n  }\n}}",
        "options": {
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        160
      ],
      "id": "6972ec37-02b2-4148-9472-21e59c4a21a7",
      "name": "LLM Inference"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\n\n// Texto bruto del LLM\nconst raw = res.message?.content || '';\n\nlet jsonText = raw.trim();\n\n// Intentar extraer bloque ``` ```\nconst start = jsonText.indexOf('```');\nconst end = jsonText.lastIndexOf('```');\n\nif (start !== -1 && end !== -1 && end > start) {\n  jsonText = jsonText.slice(start + 3, end).trim();\n  // Remover posible \"json\" al inicio\n  if (jsonText.startsWith('json')) {\n    jsonText = jsonText.slice(4).trim();\n  }\n}\n\n// Si aún no empieza por \"{\", intenta sacar el primer objeto {...}\nif (!jsonText.startsWith('{')) {\n  const match = jsonText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    jsonText = match[0];\n  }\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  // Fallback: estructura mínima para no romper el flujo\n  parsed = {\n    asunto: 'Informe Semanal de Alertas Normativas',\n    cuerpo: {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar el informe',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    },\n    resumen: `Error al parsear JSON del modelo: ${e.message}`,\n    areas_afectadas: $json.areas_afectadas || [],\n  };\n}\n\nreturn [{\n  json: {\n    asunto: parsed.asunto || 'Informe Semanal de Alertas Normativas',\n    cuerpo: parsed.cuerpo || parsed,\n    resumen: parsed.resumen || '',\n    areas_afectadas: parsed.areas_afectadas || $json.areas_afectadas || [],\n    rango_fechas: $('Prompt Para Email AI').first().json.rango_fechas,\n    total_normas: $('Prompt Para Email AI').first().json.total_normas,\n    normas_relevantes: $('Prompt Para Email AI').first().json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        160
      ],
      "id": "b565f147-01bf-4c4f-afd6-d84556c876a6",
      "name": "Extract Final Text"
    },
    {
      "parameters": {
        "fromEmail": "comedido@gmail.com",
        "toEmail": "aarondominguezsanchez@gmail.com",
        "subject": "={{ $json.asunto }} – {{$json.rango_fechas}}",
        "html": "=<h2 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 4px;\">\n  Informe Jurídico Semanal\n</h2>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Estimados/as,<br><br>\n  Adjuntamos el informe semanal con un análisis detallado de las principales novedades legislativas publicadas en los boletines oficiales.\n  El informe cubre el período\n  <strong>{{$json.rango_fechas}}</strong>\n  y se ha elaborado a partir de los siguientes diarios oficiales:\n</p>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333; margin-left: 20px;\">\n  <li>✅ BOE</li>\n  <li>✅ BOJA (Andalucía)</li>\n  <li>✅ BORM (Murcia)</li>\n  <li>✅ BOCM (Madrid)</li>\n  <li>✅ DOG (Galicia)</li>\n  <li>⚠️ DOGV (Comunidad Valenciana)</li>\n  <li>⚠️ DOGC (Cataluña)</li>\n  <li>⚠️ DOCM (Castilla-La Mancha)</li>\n  <li>✅ BOCYL (Castilla y León)</li>\n  <li>✅ BOPV (País Vasco)</li>\n  <li>✅ BOIB (Islas Baleares)</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  A continuación se detallan las normas consideradas más relevantes para la actividad del Grupo, con una explicación ampliada de su contenido,\n  del impacto jurídico potencial y de las obligaciones prácticas que pueden derivarse para las distintas áreas implicadas.\n</p>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<!-- Aquí inyectamos el HTML generado -->\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6;\">\n  {{$json.cuerpo_html}}\n</div>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">\n  Resumen Ejecutivo (global)\n</h3>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">\n  <li><strong>Normas analizadas:</strong> {{$json.total_normas}}</li>\n  <li><strong>Normas relevantes para la actividad:</strong> {{$json.normas_relevantes}}</li>\n  <li><strong>Áreas afectadas:</strong> {{ ($json.areas_afectadas || []).join(', ') }}</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 12px;\">\n  El resumen ejecutivo incorpora una valoración jurídica extensiva y priorizada de los riesgos y oportunidades detectados,\n  con especial atención a las materias de cumplimiento normativo, contratación, protección de datos y regulación sectorial.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 20px;\">\n  Si necesita ampliar información sobre alguna de las normas o requiere un análisis específico para un proyecto o sociedad concreta,\n  quedamos a su disposición para profundizar en los aspectos que resulten de mayor interés.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Atentamente,<br>\n  <strong>Departamento Jurídico</strong><br>\n  Sistema automatizado de alertas normativas\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        464,
        320
      ],
      "id": "c8096448-9225-42f2-9d30-b6c018222e38",
      "name": "Send email",
      "webhookId": "365ea2dc-7775-473c-a62c-c2424d821e10",
      "credentials": {
        "smtp": {
          "id": "4kUvfaCBAq90daii",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "26402261",
        "text": "=🔔 *Informe Semanal de Alertas Normativas*\n\n📅 *Período:* {{ $('Generar HTML Informe').item.json.rango_fechas }}\n\n📊 *Resumen:*\n• Normas analizadas: {{ $('Generar HTML Informe').item.json.total_normas }}\n• Normas relevantes: {{ $('Generar HTML Informe').item.json.normas_relevantes }}\n\n{{ $('Generar HTML Informe').item.json.normas_relevantes > 0\n  ? '✅ Se han identificado normas de interés para el Grupo Azarbe.'\n  : '⚪ No hay normas relevantes esta semana.' }}\n\n📧 Informe completo enviado a: mberna@grupoazarbe.com\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        320
      ],
      "id": "55a83c0c-489a-4586-82fa-5861fd201e12",
      "name": "Send a text message",
      "webhookId": "852675cc-0311-408c-948c-ddc675df3c22",
      "credentials": {
        "telegramApi": {
          "id": "zgQWZHZ2nMs05qtB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.bocm.es/boletines.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        288
      ],
      "id": "fd7f97b1-d6e3-4c7d-9f49-0923e29e3073",
      "name": "BOCM Madrid"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        288
      ],
      "id": "f015399f-a3b4-4a9c-b5eb-1dfbc54d4873",
      "name": "XML2"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Madrid',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        288
      ],
      "id": "de3a8f9f-91ac-46a1-aea0-64df2f3af5bb",
      "name": "BOE Normalizar normas2"
    },
    {
      "parameters": {
        "url": "https://www.xunta.gal/diario-oficial-galicia/rss/Sumario_es.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        464
      ],
      "id": "642ca23a-d835-484f-9725-df2e35af1c32",
      "name": "DOG Galicia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        464
      ],
      "id": "aa03c12e-c123-4359-b696-2a76e4ea9184",
      "name": "XML3"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'DOG',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Galicia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        464
      ],
      "id": "4bad8658-5aff-4be4-8866-e8988a79e64a",
      "name": "BOE Normalizar normas3"
    },
    {
      "parameters": {
        "jsCode": "const normas = $json.normas_relevantes || [];\nconst normasTodas = $json.normas_todas || [];\n\n// Recuperar el rango de fechas\nconst rango = $('Calcular Rango Fechas').first().json;\nconst rangoFechas = `${rango.hace7dias_str} – ${rango.hoy_str}`;\n\nlet listado = '';\n\nfor (const n of normas) {\n  const texto = n.texto_limpio || n.texto || '';\n\n  listado += `- Título: ${n.titulo || ''}\\n`;\n  listado += `  Fecha: ${n.fecha_publicacion || ''}\\n`;\n  listado += `  Fuente: ${n.fuente || ''} (${n.comunidad || ''})\\n`;\n  listado += `  Enlace: ${n.url || ''}\\n`;\n  listado += `  Texto: ${texto}\\n\\n`;\n}\n\nif (normas.length === 0) {\n  listado = 'No se han identificado normas relevantes para las actividades del Grupo Azarbe en los últimos 7 días.\\n';\n}\n\nconst prompt = `\nActúas como asesor jurídico especializado en normativa española para el Grupo Azarbe.\n\nRango de fechas: ${rangoFechas}\n\nListado de normas relevantes (ya filtradas por sector y comunidad autónoma):\n\n${listado}\n\nTareas:\n\n1) Redacta un apartado \"Normas Relevantes\", con cada norma en formato estructurado, indicando:\n   - Título (con número de identificación si existe, ej: BOE-A-2025-24230)\n   - Boletín y ámbito (ej: \"BOE nº 287 – España\" o \"DOUE(L) nº 2385 – Unión Europea\")\n   - Fecha de publicación\n   - Breve explicación: descripción concisa del contenido normativo (máximo 100 palabras)\n   - Impacto para Grupo Azarbe: evaluación específica de cómo afecta a las actividades del Grupo\n   - Obligaciones prácticas: acciones concretas a realizar, o \"Ninguna\" si no aplica\n\n2) Redacta un apartado \"Conclusiones Generales\" con:\n   - Valoración global del impacto de las normas analizadas\n   - Recomendaciones de seguimiento si aplica\n   - Disponibilidad para ampliación de información\n\nDEVUELVE EXCLUSIVAMENTE UN JSON VÁLIDO con esta estructura, sin texto adicional, sin comentarios y sin marcas de código:\n\n{\n  \"asunto\": \"Informe Semanal de Alertas Normativas\",\n  \"cuerpo\": {\n    \"Normas Relevantes\": [\n      {\n        \"Número\": \"1\",\n        \"Título\": \"...\",\n        \"Boletín y ámbito\": \"...\",\n        \"Fecha de publicación\": \"...\",\n        \"Breve explicación\": \"...\",\n        \"Impacto para Grupo Azarbe\": \"...\",\n        \"Obligaciones prácticas\": \"...\"\n      }\n    ],\n    \"Conclusiones Generales\": {\n      \"Valoración\": \"...\",\n      \"Recomendaciones\": \"...\",\n      \"Cierre\": \"...\"\n    }\n  },\n  \"resumen\": \"Resumen ejecutivo en 3-5 frases\",\n  \"areas_afectadas\": [\"Área 1\", \"Área 2\"]\n}\n`;\n\nreturn [{\n  json: {\n    prompt,\n    rango_fechas: rangoFechas,\n    total_normas: normasTodas.length,\n    normas_relevantes: normas.length,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "bc425ab7-59f4-4a33-b491-29c9ba2b2832",
      "name": "Prompt Para Email AI"
    },
    {
      "parameters": {
        "jsCode": "//const normas = ($json.normas_filtradas || []).flat().slice(0, 300);\nconst normas = ($json.normas_filtradas || []).flat();\n\nif (!normas.length) {\n  return [{ json: { error: 'SIN_NORMAS', debug_json: $json } }];\n}\n\nconst items = normas.map((norma, index) => {\n  const prompt = `Eres un clasificador de normativa española.\n\nNORMA:\nFUENTE: ${norma.fuente || 'SIN FUENTE'}\nTITULO: ${norma.titulo || 'SIN TITULO'}\nTEXTO: ${norma.texto?.slice(0, 2000) || 'SIN TEXTO'}\n\nDevuelve SOLO JSON con:\n{\"sector\": \"...\", \"texto_limpio\": \"...\", \"razon\": \"...\", \"confianza\": \"alta|media|baja\"}`;\n\n  return {\n    json: {\n      index,\n      norma_original: norma,\n      prompt_para_ollama: prompt,\n    },\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        0
      ],
      "id": "2b79488c-0e2a-48a4-85f6-8d89b694bec4",
      "name": "Prompt Para Clasificación AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"gemma3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt_para_ollama\n      }\n    ],\n    \"stream\": false,\n     \"options\": {\n  \"num_predict\": 192,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9\n}\n  }\n}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 500
            }
          },
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        0
      ],
      "id": "77a0731b-eec6-4f09-a12f-75937844caa0",
      "name": "LLM Inference1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const all = [];\n\nfor (const item of items) {\n  const normas = item.json.normas || [];\n  all.push(...normas);\n}\n\nreturn [\n  {\n    json: {\n      normas_filtradas: all,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        512
      ],
      "id": "69807eab-ca70-4658-b19f-36204b8f9718",
      "name": "Merge Normas"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        448
      ],
      "id": "8cc8772a-f063-47f6-809f-ae5c93fabf8f",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst normasProcesadas = [];\n\nitems.forEach(item => {\n  const norma = item.json.norma_original || {};\n\n  // Gemma3 devuelve la respuesta en message.content\n  const raw = item.json.response\n    || item.json.message?.content\n    || '';\n\n  try {\n    // Buscar bloque ```...```\n    const start = raw.indexOf('```');\n    const end = raw.lastIndexOf('```');\n\n    let jsonText = raw;\n\n    if (start !== -1 && end !== -1 && end > start) {\n      jsonText = raw.slice(start + 3, end);   // +3 = longitud de ```\n    }\n\n    jsonText = jsonText.trim();\n\n    if (!jsonText.startsWith('{')) {\n      // fallback: intenta extraer el primer {...}\n      const jsonMatch = jsonText.match(/\\{[\\s\\S]*\\}/);\n      if (!jsonMatch) throw new Error('No JSON');\n      jsonText = jsonMatch[0];   // antes faltaba [0]\n    }\n\n    const parsed = JSON.parse(jsonText);\n\n    normasProcesadas.push({\n      ...norma,\n      sector: parsed.sector || 'NINGUNO',\n      texto_limpio: parsed.texto_limpio || '',\n      razon: parsed.razon || '',\n      confianza: parsed.confianza || 'baja',\n      ollama_raw: raw.slice(0, 200), // debug\n    });\n\n  } catch (e) {\n    normasProcesadas.push({\n      ...norma,\n      sector: 'ERROR_PARSE',\n      texto_limpio: (norma.texto || '').slice(0, 200),\n      razon: `Parse error: ${e.message}`,\n      confianza: 'baja',\n    });\n  }\n});\n\nreturn [{\n  json: {\n    total_procesadas: normasProcesadas.length,\n    con_sector: normasProcesadas.filter(\n      n => n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE'\n    ).length,\n    normas_procesadas: normasProcesadas,\n    muestra: normasProcesadas.slice(0, 3),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "c6ff4658-b530-4ad5-8fef-66f99aef095b",
      "name": "Tratamiento respesta LLM"
    },
    {
      "parameters": {
        "jsCode": "// 1) HTML generado por el LLM\nlet cuerpo = $json.cuerpo || {};\n\nif (typeof cuerpo === 'string') {\n  try {\n    cuerpo = JSON.parse(cuerpo);\n  } catch (e) {\n    cuerpo = {\n      'Normas Relevantes': [],\n      'Conclusiones Generales': {\n        'Valoración': 'Error al procesar',\n        'Recomendaciones': 'N/A',\n        'Cierre': 'N/A'\n      }\n    };\n  }\n}\n\n// 2) Recuperamos las normas originales con URL real\nconst normasOriginales =\n  $('Filtrar Sectores Grupo Azarbe').first().json.normas_relevantes || [];\n\n// Funciones auxiliares para buscar mejor por título\nfunction normaliza(str = '') {\n  return String(str)\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction buscarUrl(tituloLLM = '') {\n  const tLLM = normaliza(tituloLLM);\n  if (!tLLM) return '';\n\n  const n = normasOriginales.find(o => {\n    const tOrig = normaliza(o.titulo || '');\n    return tOrig.includes(tLLM) || tLLM.includes(tOrig);\n  });\n\n  return n?.url || '';\n}\n\nlet html = '';\n\n// ============================\n//   NORMAS RELEVANTES\n// ============================\n\nconst normas = cuerpo['Normas Relevantes'];\n\nif (Array.isArray(normas) && normas.length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">Normas Relevantes</h3>';\n\n  normas.forEach((n, index) => {\n    const numero = n['Número'] || (index + 1);\n    const titulo = n['Título'] || '';\n    const enlace = buscarUrl(titulo);\n\n    html += '<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 20px;\">';\n\n    html += `<p style=\"margin-bottom: 8px;\"><strong>${numero}. ${titulo}</strong>`;\n    if (enlace) {\n      html += ` (<a href=\"${enlace}\" target=\"_blank\" style=\"color: #0066cc;\">ver norma</a>)`;\n    }\n    html += '</p>';\n\n    if (n['Boletín y ámbito']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Boletín y ámbito:</strong> ${n['Boletín y ámbito']}</p>`;\n    }\n\n    if (n['Fecha de publicación']) {\n      html += `<p style=\"margin: 4px 0;\"><strong>Fecha de publicación:</strong> ${n['Fecha de publicación']}</p>`;\n    }\n\n    if (n['Breve explicación']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Breve explicación:</strong><br>${n['Breve explicación']}</p>`;\n    }\n\n    if (n['Impacto para Grupo Azarbe']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Impacto para Grupo Azarbe:</strong><br>${n['Impacto para Grupo Azarbe']}</p>`;\n    }\n\n    if (n['Obligaciones prácticas']) {\n      html += `<p style=\"margin: 8px 0;\"><strong>Obligaciones prácticas:</strong> ${n['Obligaciones prácticas']}</p>`;\n    }\n\n    html += '</div>';\n    html += '<hr style=\"border: 0; border-top: 1px solid #e0e0e0; margin: 16px 0;\">';\n  });\n}\n\n// ============================\n//    CONCLUSIONES GENERALES\n// ============================\n\nconst conclusiones = cuerpo['Conclusiones Generales'] || {};\n\nif (Object.keys(conclusiones).length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Conclusiones Generales</h3>';\n\n  if (conclusiones['Valoración']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Valoración']}</p>`;\n  }\n\n  if (conclusiones['Recomendaciones']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Recomendaciones']}</p>`;\n  }\n\n  if (conclusiones['Cierre']) {\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 12px;\">${conclusiones['Cierre']}</p>`;\n  }\n}\n\n// ============================\n//   RESUMEN EJECUTIVO (GLOBAL)\n// ============================\n\nhtml += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Resumen Ejecutivo</h3>';\nhtml += '<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">';\nhtml += `<li><strong>Normas analizadas:</strong> ${$json.total_normas}</li>`;\nhtml += `<li><strong>Normas relevantes para la actividad:</strong> ${$json.normas_relevantes}</li>`;\nhtml += `<li><strong>Áreas afectadas:</strong> ${($json.areas_afectadas || []).join(', ')}</li>`;\nhtml += '</ul>';\n\n// ============================\n//   DEVOLUCIÓN\n// ============================\n\nreturn [{\n  json: {\n    cuerpo_html: html,\n    asunto: $json.asunto || 'Informe Semanal de Alertas Normativas',\n    resumen: $json.resumen || '',\n    areas_afectadas: $json.areas_afectadas || [],\n    rango_fechas: $json.rango_fechas,\n    total_normas: $json.total_normas,\n    normas_relevantes: $json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        160
      ],
      "id": "d18b33fb-9da2-4924-acaa-0498dfa38569",
      "name": "Generar HTML Informe"
    },
    {
      "parameters": {
        "jsCode": "// Base: todo lo que viene de Extract Final Text\nconst base = $json;\n\n// Si ya tienes calculadas normas_procesadas en otro nodo, ajústalo aquí.\n// Como ejemplo, asumimos que base.normas_procesadas existe; si no, usa tus campos reales.\nconst normasProcesadas = base.normas_procesadas || [];\nconst total_normas = normasProcesadas.length || (base.total_normas || 0);\n\n// Normas relevantes: por ejemplo, sector distinto de NINGUNO/ERROR_PARSE\nconst normasRelevantes = normasProcesadas.filter(n =>\n  n.sector && n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE',\n);\nconst normas_relevantes = normasRelevantes.length || (base.normas_relevantes || 0);\n\nreturn [{\n  json: {\n    ...base,                 // mantiene asunto, cuerpo, resumen, rango_fechas, areas_afectadas\n    total_normas,\n    normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        160
      ],
      "id": "a43d358a-6df4-45de-aba6-86fc9a6a6341",
      "name": "Métricas Agregadas"
    },
    {
      "parameters": {
        "url": "https://bocyl.jcyl.es/rss.do",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        656
      ],
      "id": "338cb740-f8b2-4e15-8719-93170417fcda",
      "name": "BOCYL CastillaLeon"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        656
      ],
      "id": "2e7f729e-a9f7-4970-9806-7ae696027747",
      "name": "XML4"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCYL',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Castilla y León',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        656
      ],
      "id": "0b20a228-6146-4d31-bb75-8d0160b630bf",
      "name": "BOE Normalizar normas4"
    },
    {
      "parameters": {
        "url": "https://www.euskadi.eus/bopv2/datos/Ultimo.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        848
      ],
      "id": "4bf48abb-c384-4c7f-9d14-9c5414fba3f4",
      "name": "BOPV Pais Vasco"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        848
      ],
      "id": "59e08f26-5bb5-41fe-a517-f2ab6269fb1e",
      "name": "XML5"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOPV',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'País Vasco',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        848
      ],
      "id": "795ace18-b6fb-4c85-aefd-4efa6301ce7b",
      "name": "BOE Normalizar normas5"
    },
    {
      "parameters": {
        "url": "https://www.caib.es/eboibfront/indexrss.do?lang=es",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        1040
      ],
      "id": "05e05b5c-d310-43ac-9d4b-1bb6bf9d1468",
      "name": "BOIB Islas Baleares"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        1040
      ],
      "id": "791fc675-0e19-41bf-8bd7-24d124759c7d",
      "name": "XML6"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOIB',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Islas Baleares',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1040
      ],
      "id": "2e699595-6de3-4e8c-9a2a-cb048dfdcfb3",
      "name": "BOE Normalizar normas6"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -384,
        1200
      ],
      "id": "4437eaf5-edb1-4c18-be67-6415e809e97b",
      "name": "XML7"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOJA',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Andalucía',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1200
      ],
      "id": "63e00642-044e-4fd4-ae43-d11f56fe7e09",
      "name": "BOE Normalizar normas7"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "comedido",
    "name": "myn8nflows"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-09T09:32:56.444Z",
      "createdAt": "2025-12-09T09:32:56.444Z",
      "role": "workflow:owner",
      "workflowId": "MBpiqTpQzCfhU4rJ",
      "projectId": "c1ShJVsgvvl3Rwo1"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T11:46:12.000Z",
  "versionId": "1a4b8e31-0e18-4e55-b969-197dfa4aa6e7"
}