Vg0DQujGGwN9iI89.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "BOE España": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calcular Rango Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BORM Murcia": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcular Rango Fechas": {
      "main": [
        [
          {
            "node": "BORM Murcia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOE España",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCM Madrid",
            "type": "main",
            "index": 0
          },
          {
            "node": "DOG Galicia",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOCYL CastillaLeon",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOPV Pais Vasco",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOIB Islas Baleares",
            "type": "main",
            "index": 0
          },
          {
            "node": "BOJA Andalucia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Sectores Grupo Azarbe": {
      "main": [
        [
          {
            "node": "Prompt Para Email AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference": {
      "main": [
        [
          {
            "node": "Extract Final Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Final Text": {
      "main": [
        [
          {
            "node": "Métricas Agregadas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "BOCM Madrid": {
      "main": [
        [
          {
            "node": "XML2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "XML2": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DOG Galicia": {
      "main": [
        [
          {
            "node": "XML3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML3": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prompt Para Email AI": {
      "main": [
        [
          {
            "node": "LLM Inference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Para Clasificación AI": {
      "main": [
        [
          {
            "node": "LLM Inference1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Inference1": {
      "main": [
        [
          {
            "node": "Tratamiento respesta LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Normas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Normas": {
      "main": [
        [
          {
            "node": "Prompt Para Clasificación AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratamiento respesta LLM": {
      "main": [
        [
          {
            "node": "Filtrar Sectores Grupo Azarbe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar HTML Informe": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Métricas Agregadas": {
      "main": [
        [
          {
            "node": "Generar HTML Informe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOCYL CastillaLeon": {
      "main": [
        [
          {
            "node": "XML4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML4": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "BOPV Pais Vasco": {
      "main": [
        [
          {
            "node": "XML5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML5": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "BOIB Islas Baleares": {
      "main": [
        [
          {
            "node": "XML6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML6": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas6": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "BOJA Andalucia": {
      "main": [
        [
          {
            "node": "XML7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML7": {
      "main": [
        [
          {
            "node": "BOE Normalizar normas7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BOE Normalizar normas7": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T13:53:59.789Z",
  "id": "Vg0DQujGGwN9iI89",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Miriam BOE - Alerta Boletines",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.boe.es/rss/boe.php",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        -432
      ],
      "id": "675ec99a-e3c2-4c67-a4c8-a6d1bb93ef64",
      "name": "BOE España"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 40
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1280,
        -384
      ],
      "id": "6278eba3-cb89-4b97-a73c-f921045b308a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        -432
      ],
      "id": "eb8c000e-b6c4-4e26-a27b-adce68b85f8b",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOE',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'ESTADO',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -432
      ],
      "id": "8a09b8fd-1739-45af-9459-b66a22a4ccf8",
      "name": "BOE Normalizar normas"
    },
    {
      "parameters": {
        "url": "https://www.borm.es/rss/boletin.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        -288
      ],
      "id": "52b0c4a6-2535-4391-9fe4-34f27ef05a7a",
      "name": "BORM Murcia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        -288
      ],
      "id": "0ae4e314-887d-4c5b-bd10-2e18979b97c4",
      "name": "XML1"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Murcia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -288
      ],
      "id": "5837772c-b813-4db4-b663-96f8b135aea8",
      "name": "BOE Normalizar normas1"
    },
    {
      "parameters": {
        "jsCode": "function formatDate(d) {\nconst y = d.getFullYear();\nconst m = String(d.getMonth() + 1).padStart(2, '0');\nconst day = String(d.getDate()).padStart(2, '0');\nreturn `${y}-${m}-${day}`;\n}\n\nconst now = new Date();\nconst hoy = new Date(now);\nconst hace7dias = new Date(now);\nhace7dias.setDate(hoy.getDate() - 7);\n\nreturn [\n{\njson: {\nhoy_iso: hoy.toISOString(),\nhace7dias_iso: hace7dias.toISOString(),\nhoy_str: formatDate(hoy),\nhace7dias_str: formatDate(hace7dias),\n},\n},\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        -384
      ],
      "id": "3c566d6f-1f23-4885-983b-8dd5eb6d39c4",
      "name": "Calcular Rango Fechas"
    },
    {
      "parameters": {
        "url": "https://www.juntadeandalucia.es/servicios/normativas.xml",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        800
      ],
      "id": "67e994ed-0df6-44e4-84e1-02364e41faf6",
      "name": "BOJA Andalucia"
    },
    {
      "parameters": {
        "jsCode": "// 0) Entrada desde el nodo anterior (Code in JavaScript que procesa Ollama)\nconst entrada = ($json.normas_procesadas || []).flat();\nconst normasTodas = $json.normas_todas || entrada;  // si no viene normas_todas, usa todas\n\n// 1) Aseguramos campos coherentes: fuente / comunidad\nconst normas = entrada.map(n => {\n  const copia = { ...n };\n\n  // Si viene del BORM (por la URL), normaliza fuente y comunidad\n  if (copia.url && copia.url.includes('borm.es')) {\n    copia.fuente = 'BORM';\n    copia.comunidad = 'Murcia';\n  }\n\n  return copia;\n});\n\n// 2) Palabras clave por comunidad\nconst sectores = {\n  'Comunidad Valenciana (Alicante)': [\n    'restauración','inmobiliario','varadero','fundación',\n    'alojamiento turístico','cine'\n  ],\n  'Comunidad Valenciana (Castellón)': [\n    'viviendas turísticas','gasolineras','fincas forestales','restauración'\n  ],\n  'Castilla-La Mancha': [\n    'abonos','fertilizantes','agricultura','ganadería','agua','rural','vino',\n    'bodega','caza','cinegético','envase','plástico','esencia','lavanda',\n    'ayudas','coto de caza','animales','aceite','almazara',\n    'organización de eventos','alojamientos turísticos'\n  ],\n  'Islas Baleares': ['restauración'],\n  'Cataluña': ['restauración'],\n  'Madrid': ['restauración'],\n  'Murcia': ['restauración'],\n  'Andalucía': ['restauración'],\n  'País Vasco': ['restauración'],\n  'Galicia': ['restauración'],\n  // Aaron Added\n  'Castilla y León': [\n    'restauración', 'agricultura', 'ganadería', 'industria'\n  ],\n};\n\n// 3) Mapeo fuente → comunidad\nfunction comunidadFromFuente(fuente) {\n  switch (fuente) {\n    case 'BOE':  return 'ESTADO';\n    case 'BOJA': return 'Andalucía';\n    case 'BORM': return 'Murcia';\n    case 'BOCM': return 'Madrid';\n    case 'DOG':  return 'Galicia';\n    case 'DOGV': return 'Comunidad Valenciana (Alicante)';\n    case 'DOGC': return 'Cataluña';\n    case 'DOCM': return 'Castilla-La Mancha';\n    case 'BOCYL':return 'Castilla y León';\n    case 'BOPV': return 'País Vasco';\n    case 'BOIB': return 'Baleares';\n    default:     return 'OTRA';\n  }\n}\n\n// 4) Función de decisión\nfunction esRelevante(norma) {\n  // PRIORIDAD: usa sector del LLM si existe\n  if (norma.sector && ['RESTAURACION','INMOBILIARIO','TURISMO'].includes(norma.sector.toUpperCase())) {\n    return true;\n  }\n\n  // Fallback: keyword matching\n  const comunidad = norma.comunidad || comunidadFromFuente(norma.fuente);\n  const claves = sectores[comunidad] || [];\n  if (!claves.length) return false;\n\n  const texto = (\n    (norma.titulo || '') + ' ' +\n    (norma.texto_limpio || norma.texto || '')\n  ).toLowerCase();\n\n  return claves.some(k => texto.includes(k.toLowerCase()));\n}\n\n// 5) Aplicar filtro\nconst relevantes = normas.filter(esRelevante);\n\n// 6) Salida\nreturn [{\n  json: {\n    normas_todas: normasTodas,\n    normas_relevantes: relevantes,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -400
      ],
      "id": "8abf05f5-8561-4bc3-bfbe-ceea794cf411",
      "name": "Filtrar Sectores Grupo Azarbe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"llama3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt\n      }\n    ],\n    \"stream\": false,\n    \"options\": {\n      \"temperature\": 0.4,\n      \"num_predict\": 2048\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        -240
      ],
      "id": "0be195f5-345a-4cf1-941f-004d9886ce31",
      "name": "LLM Inference"
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\n\n// Texto bruto del LLM\nconst raw = res.message?.content || '';\n\nlet jsonText = raw.trim();\n\n// Intentar extraer bloque ``` ```\nconst start = jsonText.indexOf('```');\nconst end = jsonText.lastIndexOf('```');\n\nif (start !== -1 && end !== -1 && end > start) {\n  jsonText = jsonText.slice(start + 3, end).trim();\n}\n\n// Si aún no empieza por \"{\", intenta sacar el primer objeto {...}\nif (!jsonText.startsWith('{')) {\n  const match = jsonText.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    jsonText = match[0];\n  }\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonText);\n} catch (e) {\n  // Fallback: estructura mínima para no romper el flujo\n  parsed = {\n    asunto: 'Normativa relevante para el Grupo Azarbe',\n    cuerpo: {\n      'Normas relevantes identificadas': [],\n      'Análisis jurídico del impacto': {},\n      'Resumen ejecutivo': {\n        'Número total de normas analizadas': $json.total_normas || 0,\n        'Número de normas relevantes para la actividad': $json.normas_relevantes || 0,\n        'Principales áreas afectadas': $json.areas_afectadas || [],\n      },\n    },\n    resumen: `Error al parsear JSON del modelo: ${e.message}`,\n    areas_afectadas: $json.areas_afectadas || [],\n  };\n}\n\nreturn [{\n  json: {\n    asunto: parsed.asunto || 'Normativa relevante para el Grupo Azarbe',\n    cuerpo: parsed.cuerpo || parsed, // si el modelo devuelve el cuerpo directamente\n    resumen: parsed.resumen || '',\n    areas_afectadas: parsed.areas_afectadas || $json.areas_afectadas || [],\n    rango_fechas: $('Prompt Para Email AI').first().json.rango_fechas,\n    total_normas: $('Prompt Para Email AI').first().json.total_normas,\n    normas_relevantes: $('Prompt Para Email AI').first().json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -240
      ],
      "id": "f1cbdb55-cf2b-43b6-af33-583e93c0a9a0",
      "name": "Extract Final Text"
    },
    {
      "parameters": {
        "fromEmail": "comedido@gmail.com",
        "toEmail": "aarondominguezsanchez@gmail.com, mberna@grupoazarbe.com",
        "subject": "={{ $json.asunto }} – {{$json.rango_fechas}}",
        "html": "=<h2 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 4px;\">\n  Informe Jurídico Semanal\n</h2>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Estimados/as,<br><br>\n  Adjuntamos el informe semanal con un análisis detallado de las principales novedades legislativas publicadas en los boletines oficiales.\n  El informe cubre el período\n  <strong>{{$json.rango_fechas}}</strong>\n  y se ha elaborado a partir de los siguientes diarios oficiales:\n</p>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333; margin-left: 20px;\">\n  <li>✅ BOE</li>\n  <li>✅ BOJA (Andalucía)</li>\n  <li>✅ BORM (Murcia)</li>\n  <li>✅ BOCM (Madrid)</li>\n  <li>✅ DOG (Galicia)</li>\n  <li>⚠️ DOGV (Comunidad Valenciana)</li>\n  <li>⚠️ DOGC (Cataluña)</li>\n  <li>⚠️ DOCM (Castilla-La Mancha)</li>\n  <li>✅ BOCYL (Castilla y León)</li>\n  <li>✅ BOPV (País Vasco)</li>\n  <li>✅ BOIB (Islas Baleares)</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  A continuación se detallan las normas consideradas más relevantes para la actividad del Grupo, con una explicación ampliada de su contenido,\n  del impacto jurídico potencial y de las obligaciones prácticas que pueden derivarse para las distintas áreas implicadas.\n</p>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<!-- Aquí inyectamos el HTML generado -->\n<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; line-height: 1.6;\">\n  {{$json.cuerpo_html}}\n</div>\n\n<hr style=\"border: 0; border-top: 1px solid #cccccc; margin: 20px 0;\">\n\n<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">\n  Resumen Ejecutivo (global)\n</h3>\n\n<ul style=\"font-family: Arial, sans-serif; font-size: 13px; color: #333;\">\n  <li><strong>Normas analizadas:</strong> {{$json.total_normas}}</li>\n  <li><strong>Normas relevantes para la actividad:</strong> {{$json.normas_relevantes}}</li>\n  <li><strong>Áreas afectadas:</strong> {{ ($json.areas_afectadas || []).join(', ') }}</li>\n</ul>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 12px;\">\n  El resumen ejecutivo incorpora una valoración jurídica extensiva y priorizada de los riesgos y oportunidades detectados,\n  con especial atención a las materias de cumplimiento normativo, contratación, protección de datos y regulación sectorial.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-top: 20px;\">\n  Si necesita ampliar información sobre alguna de las normas o requiere un análisis específico para un proyecto o sociedad concreta,\n  quedamos a su disposición para profundizar en los aspectos que resulten de mayor interés.\n</p>\n\n<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">\n  Atentamente,<br>\n  <strong>Departamento Jurídico</strong><br>\n  Sistema automatizado de alertas normativas\n</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        176,
        -80
      ],
      "id": "e7dd1d8f-4f3c-4c0e-83d2-3751a3363cea",
      "name": "Send email",
      "webhookId": "365ea2dc-7775-473c-a62c-c2424d821e10",
      "credentials": {
        "smtp": {
          "id": "4kUvfaCBAq90daii",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "26402261",
        "text": "=🔔 *Informe Semanal de Alertas Normativas*\n\n📅 *Período:* {{ $('Generar HTML Informe').item.json.rango_fechas }}\n\n📊 *Resumen:*\n• Normas analizadas: {{ $('Generar HTML Informe').item.json.total_normas }}\n• Normas relevantes: {{ $('Generar HTML Informe').item.json.normas_relevantes }}\n\n{{ $('Generar HTML Informe').item.json.normas_relevantes > 0\n  ? '✅ Se han identificado normas de interés para el Grupo Azarbe.'\n  : '⚪ No hay normas relevantes esta semana.' }}\n\n📧 Informe completo enviado a: mberna@grupoazarbe.com\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        -80
      ],
      "id": "b0082d14-6430-4179-bb3f-67617db1a003",
      "name": "Send a text message",
      "webhookId": "852675cc-0311-408c-948c-ddc675df3c22",
      "credentials": {
        "telegramApi": {
          "id": "zgQWZHZ2nMs05qtB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.bocm.es/boletines.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        -112
      ],
      "id": "08ab470b-6142-42d0-ae9b-8233f3874667",
      "name": "BOCM Madrid"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        -112
      ],
      "id": "becae089-fcd8-4b69-a5bc-53a855e4d0ee",
      "name": "XML2"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCM',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Madrid',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -112
      ],
      "id": "1d05fb59-19a2-4d27-a347-71e9a09645a7",
      "name": "BOE Normalizar normas2"
    },
    {
      "parameters": {
        "url": "https://www.xunta.gal/diario-oficial-galicia/rss/Sumario_es.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        64
      ],
      "id": "93e15645-52e2-4be1-933b-7a80de9c91c2",
      "name": "DOG Galicia"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        64
      ],
      "id": "8ba113f8-b82a-479c-af64-8684bd18b011",
      "name": "XML3"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'DOG',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Galicia',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        64
      ],
      "id": "5f2919f6-7bdb-4775-9af8-de42771dc2f1",
      "name": "BOE Normalizar normas3"
    },
    {
      "parameters": {
        "jsCode": "const normas = $json.normas_relevantes || [];\nconst normasTodas = $json.normas_todas || [];\n\n// Recuperar el rango de fechas\nconst rango = $('Calcular Rango Fechas').first().json;\nconst rangoFechas = `${rango.hace7dias_str} – ${rango.hoy_str}`;\n\nlet listado = '';\n\nfor (const n of normas) {\n  const texto = n.texto_limpio || n.texto || '';\n\n  listado += `- Título: ${n.titulo || ''}\\n`;\n  listado += `  Fecha: ${n.fecha_publicacion || ''}\\n`;\n  listado += `  Fuente: ${n.fuente || ''} (${n.comunidad || ''})\\n`;\n  listado += `  Enlace: ${n.url || ''}\\n`;\n  listado += `  Texto: ${texto}\\n\\n`;\n}\n\nif (normas.length === 0) {\n  listado = 'No se han identificado normas relevantes para las actividades del Grupo Azarbe en los últimos 7 días.\\n';\n}\n\nconst prompt = `\nActúas como asesor jurídico especializado en normativa española para el Grupo Azarbe.\n\nRango de fechas: ${rangoFechas}\n\nListado de normas relevantes (ya filtradas por sector y comunidad autónoma):\n\n${listado}\n\nTareas:\n\n1) Redacta un apartado \"Normas relevantes identificadas\", con cada norma en un párrafo independiente, indicando:\n   - Título\n   - Fecha de publicación\n   - Boletín y comunidad autónoma\n   - Explicación concisa y precisa de máximo 100 palabras de su contenido y por qué puede afectar al Grupo Azarbe.\n\n2) Redacta un apartado \"Análisis jurídico del impacto\", agrupando por áreas de actividad.\n\n3) Redacta un apartado \"Resumen ejecutivo\" con información ampliada:\n   - Número total de normas analizadas: ${normasTodas.length}\n   - Número de normas relevantes para la actividad: ${normas.length}\n   - Principales áreas afectadas.\n\nDEVUELVE EXCLUSIVAMENTE UN JSON VÁLIDO con esta estructura, sin texto adicional, sin comentarios y sin marcas de código:\n\n{\n  \"asunto\": \"Asunto del email\",\n  \"cuerpo\": {\n    \"Normas relevantes identificadas\": [\n      {\n        \"Título\": \"...\",\n        \"Fecha de publicación\": \"...\",\n        \"Boletín y comunidad autónoma\": \"...\",\n        \"Breve explicación\": \"...\"\n      }\n    ],\n    \"Análisis jurídico del impacto\": {\n      \"Área 1\": [\"...\", \"...\"],\n      \"Área 2\": \"...\"\n    },\n    \"Resumen ejecutivo\": {\n      \"Número total de normas analizadas\": 0,\n      \"Número de normas relevantes para la actividad\": 0,\n      \"Principales áreas afectadas\": [\"...\", \"...\"]\n    }\n  },\n  \"resumen\": \"Resumen ejecutivo en 3-5 frases\",\n  \"areas_afectadas\": [\"Área 1\", \"Área 2\"]\n}\n`;\n\nreturn [{\n  json: {\n    prompt,\n    rango_fechas: rangoFechas,\n    total_normas: normasTodas.length,\n    normas_relevantes: normas.length,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -400
      ],
      "id": "0d57b8f4-b19c-4ffe-b745-e1e67f4e52f8",
      "name": "Prompt Para Email AI"
    },
    {
      "parameters": {
        "jsCode": "//const normas = ($json.normas_filtradas || []).flat().slice(0, 300);\nconst normas = ($json.normas_filtradas || []).flat();\n\nif (!normas.length) {\n  return [{ json: { error: 'SIN_NORMAS', debug_json: $json } }];\n}\n\nconst items = normas.map((norma, index) => {\n  const prompt = `Eres un clasificador de normativa española.\n\nNORMA:\nFUENTE: ${norma.fuente || 'SIN FUENTE'}\nTITULO: ${norma.titulo || 'SIN TITULO'}\nTEXTO: ${norma.texto?.slice(0, 2000) || 'SIN TEXTO'}\n\nDevuelve SOLO JSON con:\n{\"sector\": \"...\", \"texto_limpio\": \"...\", \"razon\": \"...\", \"confianza\": \"alta|media|baja\"}`;\n\n  return {\n    json: {\n      index,\n      norma_original: norma,\n      prompt_para_ollama: prompt,\n    },\n  };\n});\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -400
      ],
      "id": "f5d5b917-ed70-4042-97f2-8bd7345124d9",
      "name": "Prompt Para Clasificación AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://10.10.10.96:11434/api/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"gemma3:latest\",\n    \"messages\": [\n      {\n        \"role\": \"user\",\n        \"content\": $json.prompt_para_ollama\n      }\n    ],\n    \"stream\": false,\n     \"options\": {\n  \"num_predict\": 192,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9\n}\n  }\n}}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 3,
              "batchInterval": 500
            }
          },
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        352,
        -400
      ],
      "id": "cde12c46-0bd3-4861-a478-67173693f101",
      "name": "LLM Inference1",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const all = [];\n\nfor (const item of items) {\n  const normas = item.json.normas || [];\n  all.push(...normas);\n}\n\nreturn [\n  {\n    json: {\n      normas_filtradas: all,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        112
      ],
      "id": "ae92a5be-4d28-4f0f-ae75-47b7657e7e87",
      "name": "Merge Normas"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        48
      ],
      "id": "699a73ae-362e-4481-84b8-10ad239575dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst normasProcesadas = [];\n\nitems.forEach(item => {\n  const norma = item.json.norma_original || {};\n\n  // Gemma3 devuelve la respuesta en message.content\n  const raw = item.json.response\n    || item.json.message?.content\n    || '';\n\n  try {\n    // Buscar bloque ```...```\n    const start = raw.indexOf('```');\n    const end = raw.lastIndexOf('```');\n\n    let jsonText = raw;\n\n    if (start !== -1 && end !== -1 && end > start) {\n      jsonText = raw.slice(start + 3, end);   // +3 = longitud de ```\n    }\n\n    jsonText = jsonText.trim();\n\n    if (!jsonText.startsWith('{')) {\n      // fallback: intenta extraer el primer {...}\n      const jsonMatch = jsonText.match(/\\{[\\s\\S]*\\}/);\n      if (!jsonMatch) throw new Error('No JSON');\n      jsonText = jsonMatch[0];   // antes faltaba [0]\n    }\n\n    const parsed = JSON.parse(jsonText);\n\n    normasProcesadas.push({\n      ...norma,\n      sector: parsed.sector || 'NINGUNO',\n      texto_limpio: parsed.texto_limpio || '',\n      razon: parsed.razon || '',\n      confianza: parsed.confianza || 'baja',\n      ollama_raw: raw.slice(0, 200), // debug\n    });\n\n  } catch (e) {\n    normasProcesadas.push({\n      ...norma,\n      sector: 'ERROR_PARSE',\n      texto_limpio: (norma.texto || '').slice(0, 200),\n      razon: `Parse error: ${e.message}`,\n      confianza: 'baja',\n    });\n  }\n});\n\nreturn [{\n  json: {\n    total_procesadas: normasProcesadas.length,\n    con_sector: normasProcesadas.filter(\n      n => n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE'\n    ).length,\n    normas_procesadas: normasProcesadas,\n    muestra: normasProcesadas.slice(0, 3),\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -400
      ],
      "id": "b4c57f7a-b99c-45f4-8e3c-f3cc8861226a",
      "name": "Tratamiento respesta LLM"
    },
    {
      "parameters": {
        "jsCode": "// 1) HTML generado por el LLM\nlet cuerpo = $json.cuerpo || {};\n\nif (typeof cuerpo === 'string') {\n  try {\n    cuerpo = {\n      'Normas relevantes identificadas': [],\n      'Análisis jurídico del impacto': {},\n      'Resumen ejecutivo': {\n        'Número total de normas analizadas': $json.total_normas || 0,\n        'Número de normas relevantes para la actividad': $json.normas_relevantes || 0,\n        'Principales áreas afectadas': $json.areas_afectadas || [],\n      },\n    };\n  } catch (e) {\n    cuerpo = {};\n  }\n}\n\n// 2) Recuperamos las normas originales con URL real\nconst normasOriginales =\n  $('Filtrar Sectores Grupo Azarbe').first().json.normas_relevantes || [];\n\n// Funciones auxiliares para buscar mejor por título\nfunction normaliza(str = '') {\n  return String(str)\n    .toLowerCase()\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction buscarUrl(tituloLLM = '') {\n  const tLLM = normaliza(tituloLLM);\n  if (!tLLM) return '';\n\n  const n = normasOriginales.find(o => {\n    const tOrig = normaliza(o.titulo || '');\n    return tOrig.includes(tLLM) || tLLM.includes(tOrig);\n  });\n\n  return n?.url || '';\n}\n\nlet html = '';\n\n// ============================\n//   NORMAS RELEVANTES\n// ============================\n\nconst normas = cuerpo['Normas relevantes identificadas'];\n\nif (Array.isArray(normas) && normas.length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-bottom: 8px;\">Normas Relevantes</h3>';\n\n  normas.forEach((n) => {\n    const titulo = n['Título'] || '';\n    const enlace = buscarUrl(titulo);\n\n    html += '<div style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-bottom: 16px;\">';\n\n    html += `<p><strong>Título:</strong> ${titulo}</p>`;\n    html += `<p><strong>Boletín y comunidad autónoma:</strong> ${n['Boletín y comunidad autónoma'] || ''}</p>`;\n    html += `<p><strong>Fecha de publicación:</strong> ${n['Fecha de publicación'] || ''}</p>`;\n    html += `<p><strong>Breve explicación:</strong> ${n['Breve explicación'] || ''}</p>`;\n\n    // INSERTAMOS ENLACE OFICIAL REAL\n    if (enlace) {\n      html += `<p><strong>Enlace oficial:</strong> \n                 <a href=\"${enlace}\" target=\"_blank\">${enlace}</a>\n               </p>`;\n    }\n\n    html += '</div>';\n    html += '<hr style=\"border: 0; border-top: 1px solid #e0e0e0; margin: 12px 0;\">';\n  });\n}\n\n// ============================\n//    ANÁLISIS DE IMPACTO\n// ============================\n\nconst analisis = cuerpo['Análisis jurídico del impacto'] || {};\nconst areasAnalisis = Object.keys(analisis);\n\nif (areasAnalisis.length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Análisis jurídico del impacto</h3>';\n\n  areasAnalisis.forEach((area) => {\n    const valor = analisis[area];\n\n    html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\"><strong>${area}</strong></p>`;\n\n    if (Array.isArray(valor)) {\n      valor.forEach((linea) => {\n        html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-left: 16px;\">${linea}</p>`;\n      });\n    } else if (typeof valor === 'object' && valor !== null) {\n      Object.keys(valor).forEach((clave) => {\n        const texto = valor[clave];\n        html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-left: 16px;\"><strong>${clave}:</strong> ${texto}</p>`;\n      });\n    } else if (valor) {\n      html += `<p style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333; margin-left: 16px;\">${valor}</p>`;\n    }\n  });\n}\n\n// ============================\n//   RESUMEN EJECUTIVO\n// ============================\n\nconst resumenObj = cuerpo['Resumen ejecutivo'] || {};\n\nif (Object.keys(resumenObj).length) {\n  html += '<h3 style=\"font-family: Arial, sans-serif; color: #003366; margin-top: 24px; margin-bottom: 8px;\">Resumen ejecutivo</h3>';\n\n  html += '<ul style=\"font-family: Arial, sans-serif; font-size: 14px; color: #333;\">';\n  html += `<li><strong>Número total de normas analizadas:</strong> ${resumenObj['Número total de normas analizadas'] || 0}</li>`;\n  html += `<li><strong>Número de normas relevantes para la actividad:</strong> ${resumenObj['Número de normas relevantes para la actividad'] || 0}</li>`;\n  html += `<li><strong>Principales áreas afectadas:</strong> ${(resumenObj['Principales áreas afectadas'] || []).join(', ')}</li>`;\n  html += '</ul>';\n}\n\n// ============================\n//   DEVOLUCIÓN\n// ============================\n\nreturn [{\n  json: {\n    cuerpo_html: html,\n    asunto: $json.asunto || '',\n    resumen: $json.resumen || '',\n    areas_afectadas: $json.areas_afectadas || [],\n    rango_fechas: $json.rango_fechas,\n    total_normas: $json.total_normas,\n    normas_relevantes: $json.normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -240
      ],
      "id": "e852a5c3-fd1a-4063-8bb1-9b8a550718b1",
      "name": "Generar HTML Informe"
    },
    {
      "parameters": {
        "jsCode": "// Base: todo lo que viene de Extract Final Text\nconst base = $json;\n\n// Si ya tienes calculadas normas_procesadas en otro nodo, ajústalo aquí.\n// Como ejemplo, asumimos que base.normas_procesadas existe; si no, usa tus campos reales.\nconst normasProcesadas = base.normas_procesadas || [];\nconst total_normas = normasProcesadas.length || (base.total_normas || 0);\n\n// Normas relevantes: por ejemplo, sector distinto de NINGUNO/ERROR_PARSE\nconst normasRelevantes = normasProcesadas.filter(n =>\n  n.sector && n.sector !== 'NINGUNO' && n.sector !== 'ERROR_PARSE',\n);\nconst normas_relevantes = normasRelevantes.length || (base.normas_relevantes || 0);\n\nreturn [{\n  json: {\n    ...base,                 // mantiene asunto, cuerpo, resumen, rango_fechas, areas_afectadas\n    total_normas,\n    normas_relevantes,\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -240
      ],
      "id": "d0e6368d-38eb-4b18-b61f-8f997234e161",
      "name": "Métricas Agregadas"
    },
    {
      "parameters": {
        "url": "https://bocyl.jcyl.es/rss.do",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        256
      ],
      "id": "9d06ea55-3fb8-4288-9aef-9c209de4f85f",
      "name": "BOCYL CastillaLeon"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        256
      ],
      "id": "95483485-4337-485c-887a-44e75d1028c9",
      "name": "XML4"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOCYL',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Castilla y León',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        256
      ],
      "id": "fa08c69f-9fed-467c-bbde-8eb2597d5a58",
      "name": "BOE Normalizar normas4"
    },
    {
      "parameters": {
        "url": "https://www.euskadi.eus/bopv2/datos/Ultimo.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        448
      ],
      "id": "cf342e60-a3ac-4fdd-be39-5072f9af6822",
      "name": "BOPV Pais Vasco"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        448
      ],
      "id": "9cff1d12-6a7c-4d04-bef5-3f37b586cdec",
      "name": "XML5"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOPV',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'País Vasco',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        448
      ],
      "id": "4a213d86-1cfa-42f8-8c3a-a344dc317fc4",
      "name": "BOE Normalizar normas5"
    },
    {
      "parameters": {
        "url": "https://www.caib.es/eboibfront/indexrss.do?lang=es",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "application/xml,text/xml,application/xhtml+xml,application/html;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "es-ES,es;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -864,
        640
      ],
      "id": "26ab8592-6e9b-4be2-a764-e5c0a55e760d",
      "name": "BOIB Islas Baleares"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        640
      ],
      "id": "51719cb3-8cb0-4ba0-8a34-488424a8475b",
      "name": "XML6"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOIB',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Islas Baleares',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        640
      ],
      "id": "61c4baf8-dcb5-4e46-ae72-63b881417cdf",
      "name": "BOE Normalizar normas6"
    },
    {
      "parameters": {
        "options": {
          "explicitArray": false,
          "mergeAttrs": true
        }
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -672,
        800
      ],
      "id": "1251b17f-9fea-446a-82ca-f2104b630c4b",
      "name": "XML7"
    },
    {
      "parameters": {
        "jsCode": "const rss = $json.rss || {};\nconst channel = rss.channel || {};\nlet items = channel.item || [];\n\n// Aseguramos array\nif (!Array.isArray(items)) items = [items];\n\nconst normas = items.map(i => {\nreturn {\nfuente: 'BOJA',\ntitulo: i.title || '',\nfecha_publicacion: i.pubDate || '',\nurl: i.link || '',\ntexto: i.description || '',\ncomunidad: 'Andalucía',\n};\n});\n\nreturn [{ json: { normas } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        800
      ],
      "id": "68a5e5ba-694a-477d-b98e-96c6665b738a",
      "name": "BOE Normalizar normas7"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "comedido",
    "name": "myn8nflows"
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "ne4QQdQbK30RB73B",
    "timezone": "Europe/Madrid"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T13:53:59.793Z",
      "createdAt": "2025-12-03T13:53:59.793Z",
      "role": "workflow:owner",
      "workflowId": "Vg0DQujGGwN9iI89",
      "projectId": "c1ShJVsgvvl3Rwo1"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T11:46:20.000Z",
  "versionId": "47f33af2-c7a8-4e85-a4ad-f37ab2d739e1"
}